

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; /* outline: 1px solid rgba(204, 204, 204, 0.36); */ }

html { font-size: 62.5%; }

body { font-family: 'Open Sans', sans-serif; font-size: 1.6rem; color: #444; /*letter-spacing: -0.015em;*/ line-height: 1.5625; position: relative; background: #D8EFE9 url("bg.jpg") repeat; }

.malahov_banner { position: relative; height: 167px; background: url("header_banner.jpg") no-repeat; padding: 20px; }

.malahov_banner_l { float: left; width: 35%; }

.malahov_banner_l img { float: left; margin-right: 20px; }

.malahov_banner_l p.m_name { color: #fff; font-size: 16px; font-family: 'Open Sans', sans-serif; margin-top: 5px; margin-bottom: 0px; }

.malahov_banner_l p.m_descript { color: #fff; font-size: 13px; }

.malahov_banner_r { float: right; width: 65%; }

.topcontainer { padding: 0 !important; }

.container { max-width: 1000px; margin: 0 auto; background: #fff; padding: 0 20px; position: relative; }

header { border-bottom: 1px solid #f4f2c2; margin-bottom: 1em; }

img { vertical-align: bottom; max-width: 100%; }

.table { display: table; width: 100%; }

.cell { display: table-cell; vertical-align: middle; }

header .cell { height: 105px; }

.logo { background: url("logo.jpg") no-repeat 18px center; padding-left: 110px; line-height: 1.2; }

header img.img-responsive { display: inline; }

.bold { font-weight: bold; }

.c-mork { color: #da0021; }

.up { text-transform: uppercase; }

.fs25 { font-size: 2.5rem; line-height: 1.2; }

.c-gol { color: #6f655d; }

.header_right { text-align: right; padding-right: 1.5em; font-size: 1.4rem; background: url("1000.jpg") no-repeat left center; width: 263px; float: right; /* line-height: 1.5; */ }

.header_right span { text-align: left; display: inline-block; }

.main { width: 672px; float: left; }

h1 { color: #0a0a0a; font-size: 2.9rem; line-height: 1.2; }

.social { background: #eeeeee; margin: 2em 0; font-size: 1.3rem; color: #797979; }

.social .cell { height: 3.4rem; }

.social_comm { text-align: right; /* padding-right: 1em; */ }

.full_width { display: block; margin: 0 auto;}

.border { }

h2 { font-size: 2.5rem; line-height: 1.2; color: #0a0a0a; position: relative; margin-top: 2em; }

h2:after { content: ''; margin-top: 12px; border-bottom: 4px solid #168de2; display: block; }

.sposob { border: 1px solid #cae1e8; padding: 0 1em 1em 1em; margin: 2em 0; }

.c-gol2 { color: #2c95b7; }

.line_gol { height: 1px; background: #cae1e8; }

.sposob label { cursor: pointer; width: 100%; display: block; font-size: 1.4rem; padding: 5px 0; margin-top: -9px; }

.sposob label:after { content: ''; display: table; clear: both; }

.sposob .line_gol { margin-bottom: 1.5em; }

.sposob input[type="radio"] { float: left; margin-right: .5em; margin-bottom: 1em; }

.sposob input[type="radio"]:nth-of-type(1) { margin-top: 9px; }

.fs12 { font-size: 1.2rem; }

.sposob label:nth-last-of-type(1) { height: 31px; }

.fs14 { font-size: 1.4rem; }

.ofsite .cell { height: 76px; }

.perehod { font-size: 14px; line-height: 0.7; }

.btn { font-weight: bold; font-size: 1.8rem; color: #fff; text-transform: uppercase; text-align: center; width: 100%; background: #db2020; height: 76px; border: none; border-radius: 6px; border-bottom: 6px solid #b80404; }

.btn:hover { background: #e82c2c; border-bottom: 6px solid #b80404; }

.ofsite { margin-top: 1.6em; /* margin-bottom: 2em; */ }

.like { border: 2px solid #e6e6e6; padding: 0 1em 1em 1em; margin: 2em 0 3em 0; border-radius: 3px; }

.c-black { color: #0a0a0a; }

.mb05 { margin-bottom: 0.5em; }

.mb0 { margin-bottom: 0; }

.mt05 { margin-top: 0.5em; }

.line_ser { height: 1px; background: #dad4d4; margin-left: 9px; margin-bottom: 1.5em; margin-top: 1em; }

.c-ser { color: #383838; }

.text-right { text-align: right; }

.col-com-6 { width: 50%; float: left; }

.form { margin-top: 3em; font-size: 1.4rem; margin-bottom: 7em; }

input[type="text"], textarea { width: 50%; display: block; height: 43px; background: #f3f3f3; border: 1px solid #e3e3e3; padding-left: 1em; outline: none; margin-bottom: 1em; }

textarea { width: 100%; color: #989898; min-height: 10em; }

button[type="submit"] { color: #fff; width: 216px; height: 50px; background: #5c849e; border: none; border-radius: 10px; }

button[type="submit"]:hover { background: #6590ab; }

footer .container { min-height: 88px; background: #ebebeb; border-top: 1px solid #e1e0e0; padding-top: 12px; }

.right_col { float: right; /* padding-left: 20px; */ width: 268px; }

.recommend { width: 266px; text-align: center; margin-top: 50px; right: 9px; }

.recommend_top { height: 48px; background: #4aa224; font-weight: bold; color: #fff; text-transform: uppercase; line-height: 48px; position: relative; }

.recommend_top:before { position: absolute; content: ''; width: 0; height: 0; border-style: solid; border-width: 0 17px 13px 0; border-color: transparent #4aa224 transparent transparent; left: 0; bottom: -13px; }

.recommend_top:after { position: absolute; content: ''; width: 0; height: 0; border-style: solid; border-width: 13px 17px 0 0; border-color: #4aa224 transparent transparent transparent; right: 0; bottom: -13px; }

.recommend_main { width: 234px; margin: auto; border-left: 1px solid #dddddd; border-right: 1px solid #dddddd; border-bottom: 1px solid #dddddd; padding: 1em 1em 2em 1em; text-align: center; background: #fff; }

.recommend_main:hover .btn2 { opacity: 0.8; }

.img-center { display: block; margin: auto; }

.fs13 { font-size: 1.3rem; }

.btn2 { width: 174px; height: 36px; color: #fff; font-weight: bold; text-transform: uppercase; font-size: 1.3rem; background: #c01f37; border: none; border-radius: 8px; }

.fixed { position: fixed; top: 122px; z-index: 9999; }

.comment_hide { display: none; }

::-webkit-input-placeholder { color: #989898; }

::-moz-placeholder { color: #989898; opacity: 1; }

/* Firefox 19+ */
:-moz-placeholder { color: #989898; opacity: 1; }

/* Firefox 18- */
:-ms-input-placeholder { color: #989898; opacity: 1; }

.toform { cursor: pointer; }

.recommend a { text-decoration: none; color: inherit; }

#no_result { /*display: none;*/ }

#result { display: none; }

.opros_podp { height: 22px; margin-bottom: 13px; line-height: 22px; }

.bar_percent, .bar_percent1, .bar_percent2, .bar_percent3, .bar_percent4 { height: 22px; margin-bottom: 13px; line-height: 22px; background: #f1f1f1; width: 85%; max-width: 320px; position: relative; }

.bar_percent:before, .bar_percent1:before, .bar_percent2:before, .bar_percent3:before, .bar_percent4:before { content: ''; position: absolute; top: 0; left: 0; height: 22px; width: 27%; background: #2c95b7; }

.bar_percent:after, .bar_percent1:after, .bar_percent2:after, .bar_percent3:after, .bar_percent4:after { content: '27%'; position: absolute; top: 0; right: -38px; font-weight: bold; color: #555555; }

.bar_percent2:before { width: 14%; }

.bar_percent2:after { content: '14%'; }

.bar_percent3:before { width: 52%; }

.bar_percent3:after { content: '52%'; }

.bar_percent4:before { width: 7%; }

.bar_percent4:after { content: '7%'; }

.stat { width: 266px; margin: 1em auto 0 auto; background: #f3f3f3; color: #515151; font-size: 1.3rem; padding: 1px 10px 10px 10px; }

.text-center { text-align: center; }

.stat_table { width: 100%; }

.stat_table tr td:nth-of-type(1) { width: 140px; text-align: right; }

.stat_table tr td:nth-of-type(2) { text-align: left; padding-left: 10px; font-weight: bold; }

.bottom_menu { display: none; position: fixed; width: 100%; left: 0; bottom: 0; box-sizing: border-box; height: 48px; background-color: #4aa224; }

.bottom_menu .bottom_menu_icon { margin-top: 12px; margin-right: 10px; }

.bottom_menu .bottom_menu_text { color: #fff; font-size: 14px; }

.bottom_menu .bottom_menu_button { display: inline-block; float: right; font-size: 12px; color: #000; text-decoration: none; padding: 5px 10px; margin-top: 12px; border-radius: 3px; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd500+0,ffb700+49,ffa100+100 */ background: #ffd500; /* Old browsers */ background: -moz-linear-gradient(top, #ffd500 0%, #ffb700 49%, #ffa100 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #ffd500 0%, #ffb700 49%, #ffa100 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #ffd500 0%, #ffb700 49%, #ffa100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.contaner_bottom_menu { background: transparent; }

.bottom_menu_button:hover { opacity: 0.8; }

.header_text { background-color: #4e86c1; color: #ffffff; font-size: 20px; font-family: 'Open Sans'; font-weight: 300; display: inline-block; padding: 13px 33px; position: absolute; left: 0; bottom: 0; }

@media only screen and (max-width: 1199px) { .main { width: 100%; }
                                             .right_col { display: none; }
                                             .malahov_banner { display: none; } }

@media only screen and (max-width: 991px) { .col-480-6 { width: 50%; float: left; }
                                            .topcontainer { /* padding: 0 20px !important; */ } }

@media only screen and (max-width: 770px) { .topcontainer .row { margin: 0; }
                                            .head { padding: 0; } }

@media only screen and (max-width: 767px) { .header_right { padding-right: 0; text-align: center; float: none; width: 292px; }
                                            input[type="text"] { width: 100%; }
                                            .opros_podp { font-size: 1.4rem; }
                                            .col-sm-5 { display: none; } }

@media only screen and (min-width: 480px) and (max-width: 767px) { bottom_menu{display: none;}.col-480-6 { width: 50%; float: left; }
                                                                   .col-480-7 { width: 58.33333333%; float: left; }
                                                                   .col-480-5 { width: 41.66666667%; float: left; } }

@media only screen and (max-width: 599px) {bottom_menu{display: none;} .col-xs-4, .col-xs-8 { float: none; width: 100%; }
}

@media only screen and (max-width: 480px) {bottom_menu{display: none;} .col-com-6 { width: 100%; float: none; display: block; }
                                           .text-right { text-align: left; }
                                           .social_comm { font-size: 1.1rem; }
                                           .opros_podp { margin-bottom: 3px; font-size: inherit; }
                                           .fs25 { font-size: 2rem; }
                                           h1 { font-size: 2.4rem; }
                                           h2 { font-size: 2.4rem; }
                                           .c-gol { font-size: 1.4rem; }
                                           .bottom_menu .bottom_menu_icon { vertical-align: baseline; }
                                           .bottom_menu .bottom_menu_text { display: inline-block; font-size: 12px; max-width: 106px; margin-top: 7px; }
                                           .bottom_menu .bottom_menu_button { font-size: 10px; } }

@media only screen and (max-width: 319px) {bottom_menu{display: none;} .fs25 { font-size: 2rem; }
                                           .header_right { width: inherit; background-image: none; }
                                           h1 { font-size: 2.4rem; }
                                           .col-480-6 { float: none; width: 100%; }
                                           .btn { font-size: inherit; }
                                           .perehod { line-height: inherit; }
                                           .c-mork { display: none; } }

@media only screen and (max-width: 290px) { bottom_menu{display: none;}.bottom_menu { display: none; } }
