/* Code tidied up by ScrapBook */
div.ps-popup-default {
    font-family: Roboto, sans-serif;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    padding: 1px;
    margin: 0px;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    text-align: left;
    line-height: 1;
}

@media (max-width: 376px) and (min-width: 0px) {}

@media (max-width: 480px) and (min-width: 376px) {}

@media (max-width: 768px) and (min-width: 480px) {}

@media (max-width: 992px) and (min-width: 768px) {}

@media (min-width: 992px) {}

.popup-container {
    display: none;
    position: relative;
}

@media not all,
only screen and (min--moz-device-pixel-ratio: 1.5),
not all {}

@media screen and (max-width: 980px) {}

@keyframes kmacb-circle-anim {
    0% {
        transform: rotate(0deg) scale(0.5) skew(1deg);
        opacity: 0.1;
    }

    30% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: 0.5;
    }

    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: 0.6;
    }
}

@keyframes kmacb-circle-anim {
    0% {
        transform: rotate(0deg) scale(0.5) skew(1deg);
        opacity: 0.1;
    }

    30% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: 0.5;
    }

    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@keyframes kmacb-circle-fill-anim {
    0% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: 0.2;
    }

    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: 0.2;
    }

    100% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@keyframes kmacb-circle-fill-anim {
    0% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: 0.2;
    }

    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: 0.2;
    }

    100% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@keyframes kmacb-circle-img-anim {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }

    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }

    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }

    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }

    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }

    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }

    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}

@keyframes kmacb-circle-img-anim {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }

    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }

    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }

    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }

    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }

    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }

    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}

@keyframes kmacb-circle-img-anim-hover {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }

    10% {
        transform: rotate(-35deg) scale(1) skew(1deg);
    }

    20% {
        transform: rotate(35deg) scale(1) skew(1deg);
    }

    30% {
        transform: rotate(-35deg) scale(1) skew(1deg);
    }

    40% {
        transform: rotate(35deg) scale(1) skew(1deg);
    }

    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }

    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}

@keyframes kmacb-circle-img-anim-hover {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }

    10% {
        transform: rotate(-35deg) scale(1) skew(1deg);
    }

    20% {
        transform: rotate(35deg) scale(1) skew(1deg);
    }

    30% {
        transform: rotate(-35deg) scale(1) skew(1deg);
    }

    40% {
        transform: rotate(35deg) scale(1) skew(1deg);
    }

    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }

    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}

.pl_next_order_page {
    display: none;
}

@media screen and (max-width: 660px) {}

@media screen and (max-width: 540px) {}

#ps-popup-out-comebacker-close {
    display: none;
}

/* form */
#order_form {
    padding: 20px;
    max-width: 600px;
    font-family: Arial;
    margin: 20px;
    background-image: url("../img/formbg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#order_form div {
    background: transparent none repeat scroll 0% 0% ! important;
}

#order_form h2 {
    margin: 25px 0px 0px;
    padding: 0px;
    line-height: 32px;
    border: medium none;
}

#order_form label {
    width: 230px;
    display: block;
    padding: 5px 0px;
    font-weight: bold;
    font-size: 16px;
}

#order_form .order_form_pole {
    padding: 10px;
    margin: 10px;
}

#order_form input {
    font-size: 21px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid rgb(233, 215, 220);
    max-width: 300px;
    width: 100%;
}

#order_form span {
    font-size: 12px;
}

#order_form button,
.obutton {
    display: inline-block;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0px 4px 15px 0px rgba(129, 150, 160, 0.45);
    border-radius: 5px;
    background-color: rgb(2, 153, 255);
    background-position: 1.35em 0.94em;
    background-size: 1em auto;
    background-repeat: no-repeat;
    transition: all 0.15s ease-in-out 0s;
    border: medium none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
}

#order_form button:hover,
.obutton:hover {
    background-color: rgb(1, 122, 204);
}

#order_form button:active {
    position: relative;
    top: 1px;
}

@media screen and (max-width: 480px) {
    #order_form input {}

    #order_form label {
        font-size: 14px;
    }

    #order_form button {
        font-size: 16px;
    }

    #order_form {
        padding: 10px;
    }

    #order_form .order_form_pole {
        padding: 0px;
        margin: 2px;
    }
}

@media screen and (max-width: 459px) {
    #order_form input {
        width: 80%;
    }

    #order_form {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 155px;
        margin-bottom: -130px;
    }
}

@media screen and (max-width: 349px) {
    #order_form input {
        font-size: 17px;
    }

    #order_form button {
        margin-left: 0px;
    }
}
            @font-face {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 100;
                src: local("Roboto Thin"), local("Roboto-Thin"), url("Robotothin.woff2.html") format("woff2"), url("Robotothin.woff") format("woff"), url("Robotothin.ttf") format("truetype");
            }

            @font-face {
                font-family: "Roboto";
                font-style: italic;
                font-weight: 100;
                src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("Robotothinitalic.woff2.html") format("woff2"), url("Robotothinitalic.woff") format("woff"), url("Robotothinitalic.ttf") format("truetype");
            }

            @font-face {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 300;
                src: local("Roboto Light"), local("Roboto-Light"), url("Robotolight.woff2.html") format("woff2"), url("Robotolight.woff") format("woff"), url("Robotolight.ttf") format("truetype");
            }

            @font-face {
                font-family: "Roboto";
                font-style: italic;
                font-weight: 300;
                src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("Robotolightitalic.woff2.html") format("woff2"), url("Robotolightitalic.woff") format("woff"), url("Robotolightitalic.ttf") format("truetype");
            }

            @font-face {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 400;
                src: local("Roboto"), local("Roboto-Regular"), url("Roboto.woff2.html") format("woff2"), url("Roboto.woff") format("woff"), url("Roboto.ttf") format("truetype");
            }

            @font-face {
                font-family: "Roboto";
                font-style: italic;
                font-weight: 400;
                src: local("Roboto Italic"), local("Roboto-Italic"), url("Robotoitalic.woff2.html") format("woff2"), url("Robotoitalic.woff") format("woff"), url("Robotoitalic.ttf") format("truetype");
            }

            @font-face {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 500;
                src: local("Roboto Medium"), local("Roboto-Medium"), url("Robotomedium.woff2.html") format("woff2"), url("Robotomedium.woff") format("woff"), url("Robotomedium.ttf") format("truetype");
            }

            @font-face {
                font-family: "Roboto";
                font-style: italic;
                font-weight: 500;
                src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("Robotomediumitalic.woff2.html") format("woff2"), url("Robotomediumitalic.woff") format("woff"), url("Robotomediumitalic.ttf") format("truetype");
            }

            @font-face {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 700;
                src: local("Roboto Bold"), local("Roboto-Bold"), url("Robotobold.woff2.html") format("woff2"), url("Robotobold.woff") format("woff"), url("Robotobold.ttf") format("truetype");
            }

            @font-face {
                font-family: "Roboto";
                font-style: italic;
                font-weight: 700;
                src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("Robotobolditalic.woff2.html") format("woff2"), url("Robotobolditalic.woff") format("woff"), url("Robotobolditalic.ttf") format("truetype");
            }

            @font-face {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 900;
                src: local("Roboto Black"), local("Roboto-Black"), url("Robotoblack.woff2.html") format("woff2"), url("Robotoblack.woff") format("woff"), url("Robotoblack.ttf") format("truetype");
            }

            @font-face {
                font-family: "Roboto";
                font-style: italic;
                font-weight: 900;
                src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("Robotoblackitalic.woff2.html") format("woff2"), url("Robotoblackitalic.woff") format("woff"), url("Robotoblackitalic.ttf") format("truetype");
            }

            @font-face {
                font-family: "Roboto Condensed";
                font-style: normal;
                font-weight: 400;
                src: local("Roboto Condensed"), local("RobotoCn-Regular"), url("roboto-condensed.woff") format("woff"), url("roboto-condensed.ttf") format("truetype");
            }

            .my-com-date {
                color: rgb(91, 95, 101);
                text-shadow: 0px 0px 0px rgb(0, 0, 0);
                font-weight: 600;
                line-height: 34px;
                padding: 1px 4px;
                background: rgb(253, 253, 253) none repeat scroll 0% 0%;
                border-radius: 3px;
                font-size: 20px;
            }

            .out-comebacker-content-btn:hover {
                text-decoration: none ! important;
                transition: all 0.3s ease 0s ! important;
            }

            .out-comebacker-content-btn:focus {
                text-decoration: none;
                color: rgb(255, 255, 255);
            }

            .out-comebacker-content-btn:active {
                border: 1px solid rgb(255, 255, 255);
            }

            a:active,
            a:focus {
                outline: medium none;
            }

            input,
            textarea {
                outline: medium none;
            }

            input:active,
            textarea:active {
                outline: medium none;
            }

            :focus {
                outline: medium none;
            }

            button:active,
            button:focus {
                outline: medium none ! important;
            }

            button::-moz-focus-inner {
                border: 0px none ! important;
            }
            #s_comebacker_block {
                background: rgb(255, 255, 255) none repeat scroll 0% 0%;
                width: 100%;
                height: 177px;
                z-index: 10000;
                position: fixed;
                top: 0px;
                left: 0px;
                right: 0px;
                display: none;
                text-align: center;
            }

            #s_comebacker_block img {
                width: 593px;
                height: 177px;
            }