/* ->formBGColor */

#wpcomm .wpdiscuz-item .wpdiscuz-rating:not(:checked) > label:hover,
.wpdiscuz-rating:not(:checked) > label:hover ~ label {}

#wpcomm .wpdiscuz-item .wpdiscuz-rating > input:not(:checked) ~ label:hover ~ label,
#wpcomm .wpdiscuz-item .wpdiscuz-rating > input:not(:checked) ~ label:hover ~ label {
    color: #FFED85;
}
/* Buttons */
/* STICKY COMMENT HEADER */
/* PRIVATE COMMENT HEADER */
/* FOLLOW LINK */
.ya-share2,
.ya-share2 * {
    line-height: normal;
}

.ya-share2:link:hover,
.ya-share2:visited:hover {
    color: #000 !important;
}

.ya-share2__container_size_m {
    font-size: 13px;
}

.ya-share2__container_size_m .ya-share2__icon {
    height: 24px;
    width: 24px;
    background-size: 24px 24px;
}

.ya-share2__container_size_m .ya-share2__title {
    line-height: 24px;
}

.ya-share2__container_size_m .ya-share2__item {
    margin: 5px 4px 5px 0;
}

.ya-share2__container_size_m .ya-share2__item:last-child {
    margin-right: 0;
}

.ya-share2__container_size_m .ya-share2__counter {
    font-size: 12px;
    line-height: 24px;
    padding: 0 8px;
}

.ya-share2__container_size_m .ya-share2__counter:before {
    margin-left: -8px;
}

.ya-share2__container_size_m .ya-share2__badge + .ya-share2__title {
    margin-left: 10px;
}

.ya-share2__list_direction_horizontal > .ya-share2__item {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;
}

.ya-share2__list_direction_horizontal > .ya-share2__item > .ya-share2__link > .ya-share2__title {
    display: none;
}

.ya-share2__list {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.ya-share2__item {
    font-family: Arial, sans;
    display: inline-block;
}

.ya-share2__item:hover {
    opacity: 0.9;
}

.ya-share2__link {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    white-space: nowrap;
}

.ya-share2__badge {
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.ya-share2__icon {
    display: inline-block;
    vertical-align: top;
}

.ya-share2__icon:active {
    box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

.ya-share2__counter {
    display: none;
}

.ya-share2__counter:before {
    content: "";
    position: absolute;
    width: 1px;
    top: 2px;
    bottom: 2px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX///+nxBvIAAAAAXRSTlMz/za5cAAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=") 0 0 repeat-y;
}

.ya-share2__title {
    display: inline-block;
    color: #000;
    vertical-align: bottom;
}

.ya-share2__title:hover {
    color: #f00;
}

.ya-share2__item_service_facebook .ya-share2__badge {
    background-color: #3b5998;
}

.ya-share2__item_service_facebook .ya-share2__icon {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.423 20v-7.298h2.464l.369-2.845h-2.832V8.042c0-.824.23-1.385 1.417-1.385h1.515V4.111A20.255 20.255 0 0 0 14.148 4c-2.183 0-3.678 1.326-3.678 3.76v2.097H8v2.845h2.47V20h2.953z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.ya-share2__item_service_odnoklassniki .ya-share2__badge {
    background-color: #eb722e;
}

.ya-share2__item_service_odnoklassniki .ya-share2__icon {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M11.674 6.536a1.69 1.69 0 0 0-1.688 1.688c0 .93.757 1.687 1.688 1.687a1.69 1.69 0 0 0 1.688-1.687 1.69 1.69 0 0 0-1.688-1.688zm0 5.763a4.08 4.08 0 0 1-4.076-4.075 4.08 4.08 0 0 1 4.076-4.077 4.08 4.08 0 0 1 4.077 4.077 4.08 4.08 0 0 1-4.077 4.075zM10.025 15.624a7.633 7.633 0 0 1-2.367-.98 1.194 1.194 0 0 1 1.272-2.022 5.175 5.175 0 0 0 5.489 0 1.194 1.194 0 1 1 1.272 2.022 7.647 7.647 0 0 1-2.367.98l2.279 2.28a1.194 1.194 0 0 1-1.69 1.688l-2.238-2.24-2.24 2.24a1.193 1.193 0 1 1-1.689-1.689l2.279-2.279'/%3E%3C/g%3E%3C/svg%3E");
}

.ya-share2__item_service_telegram .ya-share2__badge {
    background-color: #64a9dc;
}

.ya-share2__item_service_telegram .ya-share2__icon {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.92 6.089L4.747 11.555c-.967.388-.962.928-.176 1.168l3.534 1.104 1.353 4.146c.164.454.083.634.56.634.368 0 .53-.168.736-.368.13-.127.903-.88 1.767-1.719l3.677 2.717c.676.373 1.165.18 1.333-.628l2.414-11.374c.247-.99-.378-1.44-1.025-1.146zM8.66 13.573l7.967-5.026c.398-.242.763-.112.463.154l-6.822 6.155-.265 2.833-1.343-4.116z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.ya-share2__item_service_twitter .ya-share2__badge {
    background-color: #00aced;
}

.ya-share2__item_service_twitter .ya-share2__icon {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 7.539a6.56 6.56 0 0 1-1.885.517 3.294 3.294 0 0 0 1.443-1.816 6.575 6.575 0 0 1-2.085.796 3.283 3.283 0 0 0-5.593 2.994A9.32 9.32 0 0 1 5.114 6.6a3.28 3.28 0 0 0 1.016 4.382 3.274 3.274 0 0 1-1.487-.41v.041a3.285 3.285 0 0 0 2.633 3.218 3.305 3.305 0 0 1-1.482.056 3.286 3.286 0 0 0 3.066 2.28A6.585 6.585 0 0 1 4 17.524 9.291 9.291 0 0 0 9.032 19c6.038 0 9.34-5 9.34-9.337 0-.143-.004-.285-.01-.425A6.672 6.672 0 0 0 20 7.538z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.ya-share2__item_service_viber .ya-share2__badge {
    background-color: #7b519d;
}

.ya-share2__item_service_viber .ya-share2__icon {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M18.434 15.574c-.484-.391-1.002-.743-1.511-1.102-1.016-.718-1.945-.773-2.703.38-.426.648-1.021.677-1.644.392-1.718-.782-3.044-1.989-3.821-3.743-.344-.777-.34-1.473.465-2.022.425-.29.854-.634.82-1.268-.045-.828-2.043-3.593-2.832-3.885a1.429 1.429 0 0 0-.984 0C4.373 4.95 3.606 6.48 4.34 8.292c2.19 5.405 6.043 9.167 11.349 11.463.302.13.638.183.808.23 1.208.012 2.623-1.158 3.032-2.318.393-1.117-.438-1.56-1.096-2.093zM12.485 4.88c3.879.6 5.668 2.454 6.162 6.38.045.363-.09.909.426.919.538.01.408-.528.413-.89.045-3.699-3.163-7.127-6.888-7.253-.281.04-.863-.195-.9.438-.024.427.466.357.787.406z'/%3E%3Cpath d='M13.244 5.957c-.373-.045-.865-.222-.953.299-.09.546.458.49.811.57 2.395.538 3.23 1.414 3.624 3.802.057.349-.057.89.532.8.436-.066.278-.53.315-.802.02-2.293-1.936-4.38-4.329-4.669z'/%3E%3Cpath d='M13.464 7.832c-.249.006-.493.033-.585.3-.137.4.152.496.446.544.983.158 1.5.74 1.598 1.725.027.268.195.484.452.454.356-.043.389-.361.378-.664.017-1.106-1.227-2.385-2.289-2.359z'/%3E%3C/g%3E%3C/svg%3E");
}

.ya-share2__item_service_vkontakte .ya-share2__badge {
    background-color: #48729e;
}

.ya-share2__item_service_vkontakte .ya-share2__icon {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.785 16.241s.288-.032.436-.194c.136-.148.132-.427.132-.427s-.02-1.304.576-1.496c.588-.19 1.341 1.26 2.14 1.818.605.422 1.064.33 1.064.33l2.137-.03s1.117-.071.587-.964c-.043-.073-.308-.661-1.588-1.87-1.34-1.264-1.16-1.059.453-3.246.983-1.332 1.376-2.145 1.253-2.493-.117-.332-.84-.244-.84-.244l-2.406.015s-.178-.025-.31.056c-.13.079-.212.262-.212.262s-.382 1.03-.89 1.907c-1.07 1.85-1.499 1.948-1.674 1.832-.407-.267-.305-1.075-.305-1.648 0-1.793.267-2.54-.521-2.733-.262-.065-.454-.107-1.123-.114-.858-.009-1.585.003-1.996.208-.274.136-.485.44-.356.457.159.022.519.099.71.363.246.341.237 1.107.237 1.107s.142 2.11-.33 2.371c-.325.18-.77-.187-1.725-1.865-.489-.859-.859-1.81-.859-1.81s-.07-.176-.198-.272c-.154-.115-.37-.151-.37-.151l-2.286.015s-.343.01-.469.161C3.94 7.721 4.043 8 4.043 8s1.79 4.258 3.817 6.403c1.858 1.967 3.968 1.838 3.968 1.838h.957z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.ya-share2__item_service_whatsapp .ya-share2__badge {
    background-color: #65bc54;
}

.ya-share2__item_service_whatsapp .ya-share2__icon {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 11.794c0 4.304-3.517 7.794-7.855 7.794a7.87 7.87 0 0 1-3.796-.97L4 20l1.418-4.182a7.714 7.714 0 0 1-1.127-4.024C4.29 7.489 7.807 4 12.145 4S20 7.49 20 11.794zm-7.855-6.553c-3.641 0-6.603 2.94-6.603 6.553 0 1.434.467 2.762 1.258 3.842l-.825 2.433 2.537-.806a6.6 6.6 0 0 0 3.633 1.084c3.642 0 6.604-2.94 6.604-6.553s-2.962-6.553-6.604-6.553zm3.967 8.348c-.049-.08-.177-.128-.37-.223-.192-.095-1.139-.558-1.315-.621-.177-.064-.305-.096-.434.095a10.92 10.92 0 0 1-.61.749c-.112.128-.224.143-.416.048-.193-.096-.813-.297-1.549-.948a5.76 5.76 0 0 1-1.07-1.323c-.113-.191-.013-.295.084-.39.086-.086.192-.223.289-.334.096-.112.128-.191.192-.319s.032-.239-.016-.335c-.048-.095-.433-1.035-.594-1.418-.16-.382-.32-.318-.433-.318-.112 0-.24-.016-.369-.016a.71.71 0 0 0-.513.239c-.177.19-.674.653-.674 1.593s.69 1.848.786 1.976c.096.127 1.332 2.119 3.289 2.884 1.958.764 1.958.51 2.31.477.353-.031 1.14-.461 1.3-.908.16-.446.16-.829.113-.908z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.i6eb8b846 .i97dbc09c:hover__currency-symbol_extra {
    fill: #DD0000 !important
}

.v27c2198 .i97dbc09c:hover__currency-symbol_extra {
    fill: #DD0000 !important
}

.m856bfb4c .i97dbc09c:hover__currency-symbol_extra {
    fill: #DD0000 !important
}

.eb0d7b331 .i97dbc09c:hover__currency-symbol_extra {
    fill: #DD0000 !important
}

.xb439baaf .i97dbc09c:hover__currency-symbol_extra {
    fill: #DD0000 !important
}

.r252bf16a .i97dbc09c:hover__currency-symbol_extra {
    fill: #DD0000 !important
}
.bread {
    text-transform: uppercase;
    color: #777!important;
    margin-bottom: 20px;
    font-size: 11px;
}

.bread a {
    color: #777!important;
}

.header {
    padding-bottom: unset!important;
    border-bottom: none!important;
}

ul.user_main {
    margin: 0;
    padding: 4px;
}

ul.user_main li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

h1 {
    font-size: 30px!important;
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 24px!important;
    }
    .bread {
        font-size: 10px;
    }
}/* ->formBGColor */

#wpcomm .wpdiscuz-item .wpdiscuz-rating:not(:checked) > label:hover,
.wpdiscuz-rating:not(:checked) > label:hover ~ label {}

#wpcomm .wpdiscuz-item .wpdiscuz-rating > input:not(:checked) ~ label:hover ~ label,
#wpcomm .wpdiscuz-item .wpdiscuz-rating > input:not(:checked) ~ label:hover ~ label {
    color: #FFED85;
}
/* Buttons */
/* STICKY COMMENT HEADER */
/* PRIVATE COMMENT HEADER */
/* FOLLOW LINK */
.ya-share2,
.ya-share2 * {
    line-height: normal;
}

.ya-share2:link:hover,
.ya-share2:visited:hover {
    color: #000 !important;
}

.ya-share2__container_size_m {
    font-size: 13px;
}

.ya-share2__container_size_m .ya-share2__icon {
    height: 24px;
    width: 24px;
    background-size: 24px 24px;
}

.ya-share2__container_size_m .ya-share2__title {
    line-height: 24px;
}

.ya-share2__container_size_m .ya-share2__item {
    margin: 5px 4px 5px 0;
}

.ya-share2__container_size_m .ya-share2__item:last-child {
    margin-right: 0;
}

.ya-share2__container_size_m .ya-share2__counter {
    font-size: 12px;
    line-height: 24px;
    padding: 0 8px;
}

.ya-share2__container_size_m .ya-share2__counter:before {
    margin-left: -8px;
}

.ya-share2__container_size_m .ya-share2__badge + .ya-share2__title {
    margin-left: 10px;
}

.ya-share2__list_direction_horizontal > .ya-share2__item {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;
}

.ya-share2__list_direction_horizontal > .ya-share2__item > .ya-share2__link > .ya-share2__title {
    display: none;
}

.ya-share2__list {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.ya-share2__item {
    font-family: Arial, sans;
    display: inline-block;
}

.ya-share2__item:hover {
    opacity: 0.9;
}

.ya-share2__link {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    white-space: nowrap;
}

.ya-share2__badge {
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.ya-share2__icon {
    display: inline-block;
    vertical-align: top;
}

.ya-share2__icon:active {
    box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

.ya-share2__counter {
    display: none;
}

.ya-share2__counter:before {
    content: "";
    position: absolute;
    width: 1px;
    top: 2px;
    bottom: 2px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX///+nxBvIAAAAAXRSTlMz/za5cAAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=") 0 0 repeat-y;
}

.ya-share2__title {
    display: inline-block;
    color: #000;
    vertical-align: bottom;
}

.ya-share2__title:hover {
    color: #f00;
}

.ya-share2__item_service_facebook .ya-share2__badge {
    background-color: #3b5998;
}

.ya-share2__item_service_facebook .ya-share2__icon {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.423 20v-7.298h2.464l.369-2.845h-2.832V8.042c0-.824.23-1.385 1.417-1.385h1.515V4.111A20.255 20.255 0 0 0 14.148 4c-2.183 0-3.678 1.326-3.678 3.76v2.097H8v2.845h2.47V20h2.953z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.ya-share2__item_service_odnoklassniki .ya-share2__badge {
    background-color: #eb722e;
}

.ya-share2__item_service_odnoklassniki .ya-share2__icon {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M11.674 6.536a1.69 1.69 0 0 0-1.688 1.688c0 .93.757 1.687 1.688 1.687a1.69 1.69 0 0 0 1.688-1.687 1.69 1.69 0 0 0-1.688-1.688zm0 5.763a4.08 4.08 0 0 1-4.076-4.075 4.08 4.08 0 0 1 4.076-4.077 4.08 4.08 0 0 1 4.077 4.077 4.08 4.08 0 0 1-4.077 4.075zM10.025 15.624a7.633 7.633 0 0 1-2.367-.98 1.194 1.194 0 0 1 1.272-2.022 5.175 5.175 0 0 0 5.489 0 1.194 1.194 0 1 1 1.272 2.022 7.647 7.647 0 0 1-2.367.98l2.279 2.28a1.194 1.194 0 0 1-1.69 1.688l-2.238-2.24-2.24 2.24a1.193 1.193 0 1 1-1.689-1.689l2.279-2.279'/%3E%3C/g%3E%3C/svg%3E");
}

.ya-share2__item_service_telegram .ya-share2__badge {
    background-color: #64a9dc;
}

.ya-share2__item_service_telegram .ya-share2__icon {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.92 6.089L4.747 11.555c-.967.388-.962.928-.176 1.168l3.534 1.104 1.353 4.146c.164.454.083.634.56.634.368 0 .53-.168.736-.368.13-.127.903-.88 1.767-1.719l3.677 2.717c.676.373 1.165.18 1.333-.628l2.414-11.374c.247-.99-.378-1.44-1.025-1.146zM8.66 13.573l7.967-5.026c.398-.242.763-.112.463.154l-6.822 6.155-.265 2.833-1.343-4.116z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.ya-share2__item_service_twitter .ya-share2__badge {
    background-color: #00aced;
}

.ya-share2__item_service_twitter .ya-share2__icon {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 7.539a6.56 6.56 0 0 1-1.885.517 3.294 3.294 0 0 0 1.443-1.816 6.575 6.575 0 0 1-2.085.796 3.283 3.283 0 0 0-5.593 2.994A9.32 9.32 0 0 1 5.114 6.6a3.28 3.28 0 0 0 1.016 4.382 3.274 3.274 0 0 1-1.487-.41v.041a3.285 3.285 0 0 0 2.633 3.218 3.305 3.305 0 0 1-1.482.056 3.286 3.286 0 0 0 3.066 2.28A6.585 6.585 0 0 1 4 17.524 9.291 9.291 0 0 0 9.032 19c6.038 0 9.34-5 9.34-9.337 0-.143-.004-.285-.01-.425A6.672 6.672 0 0 0 20 7.538z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.ya-share2__item_service_viber .ya-share2__badge {
    background-color: #7b519d;
}

.ya-share2__item_service_viber .ya-share2__icon {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M18.434 15.574c-.484-.391-1.002-.743-1.511-1.102-1.016-.718-1.945-.773-2.703.38-.426.648-1.021.677-1.644.392-1.718-.782-3.044-1.989-3.821-3.743-.344-.777-.34-1.473.465-2.022.425-.29.854-.634.82-1.268-.045-.828-2.043-3.593-2.832-3.885a1.429 1.429 0 0 0-.984 0C4.373 4.95 3.606 6.48 4.34 8.292c2.19 5.405 6.043 9.167 11.349 11.463.302.13.638.183.808.23 1.208.012 2.623-1.158 3.032-2.318.393-1.117-.438-1.56-1.096-2.093zM12.485 4.88c3.879.6 5.668 2.454 6.162 6.38.045.363-.09.909.426.919.538.01.408-.528.413-.89.045-3.699-3.163-7.127-6.888-7.253-.281.04-.863-.195-.9.438-.024.427.466.357.787.406z'/%3E%3Cpath d='M13.244 5.957c-.373-.045-.865-.222-.953.299-.09.546.458.49.811.57 2.395.538 3.23 1.414 3.624 3.802.057.349-.057.89.532.8.436-.066.278-.53.315-.802.02-2.293-1.936-4.38-4.329-4.669z'/%3E%3Cpath d='M13.464 7.832c-.249.006-.493.033-.585.3-.137.4.152.496.446.544.983.158 1.5.74 1.598 1.725.027.268.195.484.452.454.356-.043.389-.361.378-.664.017-1.106-1.227-2.385-2.289-2.359z'/%3E%3C/g%3E%3C/svg%3E");
}

.ya-share2__item_service_vkontakte .ya-share2__badge {
    background-color: #48729e;
}

.ya-share2__item_service_vkontakte .ya-share2__icon {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.785 16.241s.288-.032.436-.194c.136-.148.132-.427.132-.427s-.02-1.304.576-1.496c.588-.19 1.341 1.26 2.14 1.818.605.422 1.064.33 1.064.33l2.137-.03s1.117-.071.587-.964c-.043-.073-.308-.661-1.588-1.87-1.34-1.264-1.16-1.059.453-3.246.983-1.332 1.376-2.145 1.253-2.493-.117-.332-.84-.244-.84-.244l-2.406.015s-.178-.025-.31.056c-.13.079-.212.262-.212.262s-.382 1.03-.89 1.907c-1.07 1.85-1.499 1.948-1.674 1.832-.407-.267-.305-1.075-.305-1.648 0-1.793.267-2.54-.521-2.733-.262-.065-.454-.107-1.123-.114-.858-.009-1.585.003-1.996.208-.274.136-.485.44-.356.457.159.022.519.099.71.363.246.341.237 1.107.237 1.107s.142 2.11-.33 2.371c-.325.18-.77-.187-1.725-1.865-.489-.859-.859-1.81-.859-1.81s-.07-.176-.198-.272c-.154-.115-.37-.151-.37-.151l-2.286.015s-.343.01-.469.161C3.94 7.721 4.043 8 4.043 8s1.79 4.258 3.817 6.403c1.858 1.967 3.968 1.838 3.968 1.838h.957z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.ya-share2__item_service_whatsapp .ya-share2__badge {
    background-color: #65bc54;
}

.ya-share2__item_service_whatsapp .ya-share2__icon {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 11.794c0 4.304-3.517 7.794-7.855 7.794a7.87 7.87 0 0 1-3.796-.97L4 20l1.418-4.182a7.714 7.714 0 0 1-1.127-4.024C4.29 7.489 7.807 4 12.145 4S20 7.49 20 11.794zm-7.855-6.553c-3.641 0-6.603 2.94-6.603 6.553 0 1.434.467 2.762 1.258 3.842l-.825 2.433 2.537-.806a6.6 6.6 0 0 0 3.633 1.084c3.642 0 6.604-2.94 6.604-6.553s-2.962-6.553-6.604-6.553zm3.967 8.348c-.049-.08-.177-.128-.37-.223-.192-.095-1.139-.558-1.315-.621-.177-.064-.305-.096-.434.095a10.92 10.92 0 0 1-.61.749c-.112.128-.224.143-.416.048-.193-.096-.813-.297-1.549-.948a5.76 5.76 0 0 1-1.07-1.323c-.113-.191-.013-.295.084-.39.086-.086.192-.223.289-.334.096-.112.128-.191.192-.319s.032-.239-.016-.335c-.048-.095-.433-1.035-.594-1.418-.16-.382-.32-.318-.433-.318-.112 0-.24-.016-.369-.016a.71.71 0 0 0-.513.239c-.177.19-.674.653-.674 1.593s.69 1.848.786 1.976c.096.127 1.332 2.119 3.289 2.884 1.958.764 1.958.51 2.31.477.353-.031 1.14-.461 1.3-.908.16-.446.16-.829.113-.908z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.i6eb8b846 .i97dbc09c:hover__currency-symbol_extra {
    fill: #DD0000 !important
}

.v27c2198 .i97dbc09c:hover__currency-symbol_extra {
    fill: #DD0000 !important
}

.m856bfb4c .i97dbc09c:hover__currency-symbol_extra {
    fill: #DD0000 !important
}

.eb0d7b331 .i97dbc09c:hover__currency-symbol_extra {
    fill: #DD0000 !important
}

.xb439baaf .i97dbc09c:hover__currency-symbol_extra {
    fill: #DD0000 !important
}

.r252bf16a .i97dbc09c:hover__currency-symbol_extra {
    fill: #DD0000 !important
}
.bread {
    text-transform: uppercase;
    color: #777!important;
    margin-bottom: 20px;
    font-size: 11px;
}

.bread a {
    color: #777!important;
}

.header {
    padding-bottom: unset!important;
    border-bottom: none!important;
}

ul.user_main {
    margin: 0;
    padding: 4px;
}

ul.user_main li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

h1 {
    font-size: 30px!important;
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 24px!important;
    }
    .bread {
        font-size: 10px;
    }
}