.body {
  background-color: #e4e4e5;
  font-family: proxima, sans-serif;
  color: #000;
  line-height: 25px;
}

.section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 26px;
}

.div-block {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 88px;
  max-width: 1020px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f2f2f2;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, .5);
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.line {
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #8c1b25;
}

.line.line2 {
  background-color: #df5135;
}

.line.line3 {
  background-color: #e66d3a;
}

.line.line4 {
  background-color: #eb8942;
}

.line.line5 {
  background-color: #f4b148;
}

.line.line6 {
  background-color: #feee60;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5px;
  padding-left: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #000;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 15px;
  padding-top: 20px;
  padding-bottom: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  width: auto;
  height: 34px;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: proxima, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.link-block:hover {
  color: #cdcdcd;
}

.link-block.link2 {
  margin-left: 35px;
}

.link-block-2 {
  width: 85px;
  margin-right: 20px;
  background-image: url('../images/talant-liv-knopka3.png');
  background-position: 0px 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.link-block-3 {
  width: 135px;
  /*background-image: url('../images/Image-9.png');*/
  background-position: 0px 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.icon-link {
  width: 19px;
  margin-left: 25px;
  background-image: url('../images/Image-7.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-link:hover {
  opacity: 0.8;
}

.icon-link.icon-link2 {
  width: 22px;
  background-image: url('../images/Image-8.png');
}

.div-block-6 {
  position: relative;
  overflow: hidden;
  width: 1020px;
  margin-top: 88px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 640px;
  margin-right: 40px;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-9 {
  margin-bottom: 20px;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #3f0000;
  font-size: 26px;
  line-height: 36px;
}

.div-block-10 {
  margin-bottom: 20px;
}

.text-block {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.text-block-2 {
  font-size: 16px;
}

.div-block-11 {
  margin-bottom: 30px;
}

.div-block-12 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-span {
  color: #9b332c;
  text-decoration: underline;
}

.text-span-2 {
  color: #a72825;
}

.star {
  position: absolute;
  left: 22%;
  top: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 160px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  /*border-radius: 50%;*/
/*  background-image: -webkit-linear-gradient(315deg, #7c1a14, #b1534c);
  background-image: linear-gradient(135deg, #7c1a14, #b1534c);*/
  background-image: url('../images/sale.png');
  background-repeat: no-repeat;
  background-position: right top;
  /*box-shadow: 0 10px 40px -10px rgba(0, 0, 0, .3);*/
}

.star.star2 {
  left: auto;
  top: 70px;
  right: 6%;
  width: 140px;
  height: 140px;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 94%;
  height: 94%;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 1px solid #fff;
  border-radius: 50%;
}

.text-block-3 {
  font-family: Oswald, sans-serif;
  color: #fff;
  line-height: 26px;
  text-align: center;
}

.text-block-3.text3 {
  font-size: 14px;
  line-height: 22px;
}

.text-span-3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: underline;
}

.div-block-15 {
  margin-top: 40px;
}

.form-block {
  width: 380px;
  margin-bottom: 0px;
  padding:0;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 10px 40px -10px rgba(0, 0, 0, .01);
}

.field-label {
  margin-bottom: 0px;
  color: dimgrey;
  font-size: 10px;
  line-height: 24px;
  font-weight: 700;
}

.text-field {
  height: 40px;
  margin-bottom: 16px;
  padding-top: 10px;
  padding-right: 12px;
  padding-left: 12px;
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #a0a0a0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-size: 16px;
}

.text-field:hover {
  border-bottom-color: #9b332c;
  color: #a72825;
}

.text-field:focus {
  padding-right: 12px;
  padding-left: 12px;
  border-bottom-width: 2px;
  border-bottom-color: #9b332c;
}

.text-field::-webkit-input-placeholder {
  font-size: 13px;
}

.text-field:-ms-input-placeholder {
  font-size: 13px;
}

.text-field::placeholder {
  font-size: 13px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.submit-button {
  height: 44px;
  margin-top: 16px;
  padding-top: 10px;
  padding-bottom: 9px;
  border-radius: 4px;
  background-color: #d4201c;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.8px;
  text-shadow: 0 1px 5px rgba(0, 0, 0, .5);
}

.submit-button:hover {
  background-color: #881614;
  box-shadow: 0 10px 40px -10px rgba(0, 0, 0, .25);
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.submit-button:active {
  background-color: #5f0d0b;
  box-shadow: none;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 380px;
  min-height: 60px;
  padding: 14px 20px 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 6px;
  background-color: #d54260;
  background-image: -webkit-linear-gradient(315deg, #ff3519, #a800e9);
  background-image: linear-gradient(135deg, #ff3519, #a800e9);
  box-shadow: 0 10px 40px -10px rgba(0, 0, 0, .2);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-size: 17px;
  line-height: 27px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5px;
  text-shadow: 0 1px 5px rgba(0, 0, 0, .6);
}

.button:hover {
  background-image: none;
  box-shadow: 0 10px 35px -10px rgba(0, 0, 0, .5);
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.button:active {
  background-color: #a72825;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.comments {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.text-block-4 {
  color: #4e4e4e;
  font-weight: 700;
}

.div-block-18 {
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-bottom: 1px solid #a72825;
}

.comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding-bottom: 20px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom: 1px solid #d6d6d6;
}

.comment.comment2 {
  border-bottom-style: none;
}

.ava {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 50%;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, .3);
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block-5 {
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
}

.image-2 {
  margin-top: 30px;
}

.div-block-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #eaeaea;
}

.text-block-7 {
  font-size: 13px;
}

.div-block-21 {
  padding: 40px;
}

.div-block-22 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-decoration: none;
}

.pic {
  width: 140px;
  height: 87px;
  margin-right: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 4px;
  background-image: url('../images/Image-22.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.pic.pic2 {
  background-image: url('../images/zgv_s01e19p02.jpg');
}

.pic.pic3 {
  background-image: url('../images/zgv_s01e19p03.jpg');
}

.text-block-8 {
  color: #595959;
  line-height: 22px;
}

.text-block-8:hover {
  color: #9b332c;
}

.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block-9 {
  color: #a5a5a5;
  font-size: 14px;
  line-height: 20px;
}

.text-block-10 {
  color: #a5a5a5;
  font-size: 13px;
  line-height: 18px;
}

.div-block-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #ccc;
}

.div-block-27 {
/*  position: fixed;
  width: 300px;
  bottom: 5%;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 4px;
  background-color: #ccc;
  box-shadow: 0 10px 40px -10px rgba(0, 0, 0, .2);
}

.div-block-28 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width:95%;
}

.div-block-29 {
     display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.text-block-11 {
  margin-top: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.link {
  color: #a72825;
}

.button2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  margin-top: 16px;
  padding-top: 10px;
  padding-bottom: 9px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: #d4201c;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.6px;
}

.button2:hover {
  background-color: #881614;
  box-shadow: 0 10px 40px -10px rgba(0, 0, 0, .25);
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.button2:active {
  background-color: #5f0d0b;
  box-shadow: none;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.image-3 {
  margin-right: 30px;
}

.link-2 {
  color: #a72825;
}

@media (max-width: 991px) {
  .link-block {
    text-align: center;
  }
  .div-block-6 {
    width: auto;
  }
  .div-block-8 {
    width: auto;
    margin-right: 20px;
  }
  .heading {
    font-size: 24px;
    line-height: 32px;
  }
  .text-block {
    font-size: 16px;
    line-height: 24px;
  }
  .pic {
    margin-right: 20px;
  }
  .div-block-26 {
    width: 300px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}

@media (max-width: 767px) {
  .section {
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-3 {
    padding-right: 20px;
  }
  .logo {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .link-block {
    display: none;
  }
  .icon-link {
    display: none;
  }
  .div-block-7 {
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .div-block-8 {
    margin-right: 0px;
  }
  .heading {
    font-size: 24px;
    line-height: 30px;
  }
  .star {
    left: 12%;
  }
  .star.star2 {
    right: 15%;
  }
  .div-block-21 {
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .div-block-23 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .pic {
    margin-right: 30px;
  }
  .text-block-8 {
    margin-bottom: 6px;
  }
  .div-block-25 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .text-block-9 {
    margin-bottom: 6px;
  }
  .div-block-26 {
    display: none;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-27 {
    max-width: 440px;
  }
  .link-block-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 44px;
    height: 34px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .div-block-30 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-31 {
    width: 22px;
    height: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #888;
  }
  .image-4 {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .div-block-6 {
    width: 100%;
  }
  .div-block-7 {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-8 {
    width: 100%;
  }
  .heading {
    font-size: 22px;
    line-height: 26px;
  }
  .div-block-11 {
    padding: 20px;
  }
  .star {
    left: 1%;
    width: 150px;
    height: 150px;
  }
  .star.star2 {
    right: 5%;
  }
  .div-block-15 {
    width: 100%;
  }
  .form-block {
    width: 100%;
  }
  .div-block-16 {
    width: 100%;
  }
  .button {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 24px;
  }
  .ava {
    margin-right: 14px;
  }
  .pic {
    margin-right: 20px;
  }
  .text-block-8 {
    margin-bottom: 0px;
  }
  .div-block-25 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .text-block-9 {
    margin-bottom: 0px;
  }
  .image-3 {
    margin-right: 40px;
  }
  .image-5 {
    width: 210px;
    margin-left: 20px;
  }
  .div-block-32 {
    height: 180px;
    background-image: url('../images/Image-13.jpg');
    background-position: 80% 76%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@font-face {
  font-family: 'proxima';
  src: url('../fonts/292C28_2_0.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'proxima';
  src: url('../fonts/kd_292C28_1_0.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}