.note{
  border: 2px solid lightgrey;
}

/* Code tidied up by ScrapBook */
.Link-root { display: block; color: inherit; }
@supports ((-webkit-filter: blur()) or (filter: blur())) {
}
img { max-width: 100%; }
.c15 { margin-bottom: 25px; }
.c15, .c15 td, .c15 tr { border: 1px solid rgb(214, 214, 214); }
.c15 .c3 p { padding: 5px 10px; margin-bottom: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }
.Meta-root { display: flex; align-items: center; flex-flow: row wrap; font-family: Proxima Nova,Arial,Helvetica Neue,sans-serif; font-size: 12px; line-height: 15px; fill: inherit; }
.Meta-simple { align-items: flex-start; flex-flow: column nowrap; }
@media only screen and (min-device-width: 32em) {
  .Meta-simple { flex-flow: row wrap; }
}
.Meta-simple > div { margin-top: 3px; margin-bottom: 3px; }
@media only screen and (min-device-width: 32em) {
  .Meta-simple > div { margin-top: 0px; margin-bottom: 0px; }
}
.Meta-simple > div:first-child { margin-top: 0px; }
.Meta-simple > div:nth-child(n+2)::before { display: none; }
@media only screen and (min-device-width: 32em) {
  .Meta-simple > div:nth-child(n+2)::before { display: inline; }
}
.Meta-simple { width: 100%; color: rgb(117, 117, 117); }
.MetaItem-root { display: inline-block; margin-right: 15px; }
.MetaItem-hasBullets { margin-right: 0px; }
.MetaItem-hasBullets:nth-child(n+2)::before { display: inline-block; padding-right: 0.4em; padding-left: 0.4em; content: "·"; }
.Timestamp-root { font-family: Proxima Nova,Arial,Helvetica Neue,sans-serif; font-weight: 400; }
.SvgSymbol-root { width: 100%; height: 100%; vertical-align: middle; }
.SvgSymbol-medium { width: 24px; height: 24px; }
.SvgSymbol-fb { width: 16px; fill: rgb(48, 69, 145); }
.SvgSymbol-vk { width: 20px; fill: rgb(82, 115, 151); }
.SvgSymbol-ok { width: 9px; fill: rgb(235, 114, 46); }
.SvgSymbol-tw { width: 20px; fill: rgb(49, 173, 244); }
.SvgSymbol-tg { width: 18px; fill: rgb(43, 165, 224); }
.SvgSymbol-reaction { width: 16px; color: rgb(184, 139, 88); fill: rgb(38, 38, 38); }
.SvgSymbol-menu { width: 22px; height: 24px; }
.SvgSymbol-meduzaLogo { width: 92px; height: 20px; }
@media only screen and (min-device-width: 64em) {
  .SvgSymbol-meduzaLogo { width: 100px; height: 45px; }
}
.SvgSymbol-search { width: 20px; height: 24px; }
@media only screen and (min-device-width: 64em) {
  .SvgSymbol-search { width: 13px; height: 15px; }
}
@supports ((-webkit-filter: blur()) or (filter: blur())) {
}
.SimpleTitle-root { margin: 0px 0px 18px; font-family: PF Regal,PF Regal Text Pro,Georgia,serif; font-size: 20px; font-weight: 400; line-height: 23px; }
@media only screen and (min-device-width: 48em) {
  .SimpleTitle-root { margin-bottom: 15px; font-size: 36px; line-height: 40px; }
}
.GeneralMaterial-article p { margin: 0px 0px 20px; font-family: PF Regal,PF Regal Text Pro,Georgia,serif; font-size: 20px; line-height: 28px; }
@media only screen and (min-device-width: 32em) {
}
@media only screen and (min-device-width: 32em) {
}
.SimpleBlock-h4 { margin-top: 26px; margin-bottom: 11px; font-family: Proxima Nova,Arial,Helvetica Neue,sans-serif; font-size: 17px; font-weight: 700; line-height: 21px; }
@media only screen and (min-device-width: 32em) {
  .SimpleBlock-h4 { margin-top: 45px; margin-bottom: 15px; font-size: 21px; line-height: 28px; }
}
@media only screen and (min-device-width: 32em) {
}
.ListBlock-root { margin: 15px 0px; padding: 0px; list-style: outside none none; font-size: 18px; line-height: 24px; font-family: PF Regal,PF Regal Text Pro,Georgia,serif; }
@media only screen and (min-device-width: 32em) {
  .ListBlock-root { font-size: 20px; line-height: 28px; }
}
@media only screen and (min-device-width: 48em) {
  .ListBlock-root { margin: 20px 0px; }
}
.ListBlock-root li { position: relative; margin-bottom: 6px; }
.ListBlock-ul li { padding: 0px 0px 0px 23px; }
@media only screen and (min-device-width: 48em) {
  .ListBlock-ul li { padding: 0px 0px 0px 38px; }
}
.ListBlock-ul li:last-child { margin-bottom: 0px; }
.ListBlock-ul li::before { position: absolute; top: 0px; left: 5px; width: 8px; content: "•"; text-align: center; color: rgb(184, 139, 88); font-size: 18px; line-height: inherit; }
@media only screen and (min-device-width: 48em) {
  .ListBlock-ul li::before { left: 0px; width: 36px; text-align: center; font-size: 20px; }
}
.MaterialNote-root { margin-bottom: 17px; font-family: Proxima Nova,Arial,Helvetica Neue,sans-serif; font-size: 16px; line-height: 22px; }
.MaterialNote-root:empty { margin-bottom: 0px; }
.MaterialNote-root:empty::before { margin-bottom: 9px; }
.MaterialNote-root::before { display: block; width: 120px; height: 1px; margin-bottom: 15px; content: ""; background: rgb(0, 0, 0) none repeat scroll 0% 0%; }
.MaterialNote-default { margin-top: 25px; }
@media only screen and (min-device-width: 32em) {
  .MaterialNote-default { margin-top: 35px; }
}
.Toolbar-root { overflow: hidden; transform: translateZ(0px); font-family: Proxima Nova,Arial,Helvetica Neue,sans-serif; }
.Toolbar-list { display: flex; flex-flow: row wrap; margin: 0px 0px 0px -10px; padding: 0px; list-style: outside none none; }
@media only screen and (min-device-width: 64em) {
  .Toolbar-list { margin: 0px 0px 0px -15px; }
}
.Toolbar-item { position: relative; height: 32px; padding-right: 10px; padding-left: 10px; min-width: 42px; cursor: pointer; transition: color 0.25s ease 0s; color: gray; line-height: 1; text-align: center; }
@media only screen and (min-device-width: 64em) {
  .Toolbar-item { padding-right: 15px; padding-left: 15px; }
}
.Toolbar-item:last-child { margin-right: 0px; }
.Toolbar-item::before { position: absolute; top: 7px; left: 0px; height: 18px; content: ""; vertical-align: middle; border-left: 1px solid rgba(0, 0, 0, 0.15); }
.ToolbarButton-text { display: inline-block; padding-left: 5px; vertical-align: middle; }
.ToolbarButton-text:empty { display: none; }
.ToolbarButton-button { height: 100%; margin: 0px; padding: 0px 1px 0px 0px; cursor: pointer; color: inherit; border-width: 0px; outline: medium none; background-color: transparent; font-family: Proxima Nova,Arial,Helvetica Neue,sans-serif; font-size: 12px; font-weight: 600; line-height: 1; -moz-appearance: none; }
.ToolbarButton-button::after { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; content: ""; }
.ToolbarButton-button:hover { opacity: 0.6; }
.AffiliatePanels-root { position: relative; }
.UnderTheSun-root { position: relative; z-index: 200; margin-top: 12px; }
@media only screen and (min-width: 32em) {
  .UnderTheSun-root { margin-top: 45px; }
}
.UnderTheSun-root:empty { margin-top: 0px; }
.GeneralMaterial-root { position: relative; display: flex; align-items: center; flex-flow: column nowrap; padding: 20px 20px 23px; border-radius: 10px; background-color: rgb(255, 255, 255); }
@media only screen and (min-width: 48em) {
  .GeneralMaterial-root { padding: 45px 15px 38px; }
}
@media only screen and (min-width: 48em) {
  .GeneralMaterial-simple { padding-top: 60px; }
}
.GeneralMaterial-container { width: 100%; }
.GeneralMaterial-head { display: flex; flex-flow: column nowrap; max-width: 650px; margin: 0px auto 31px; }
@media only screen and (min-width: 64em) {
  .GeneralMaterial-head { flex-flow: row nowrap; max-width: 1000px; }
}
@media only screen and (min-width: 64em) {
  .GeneralMaterial-materialHeader { max-width: 840px; }
}
.GeneralMaterial-article { position: relative; }
.GeneralMaterial-simple .GeneralMaterial-container { max-width: 1000px; }
.GeneralMaterial-simple .GeneralMaterial-article { margin-right: auto; margin-left: auto; }
@media only screen and (min-width: 64em) {
  .GeneralMaterial-simple .GeneralMaterial-article { margin-right: 0px; margin-left: 0px; }
}
.GeneralMaterial-default .GeneralMaterial-article { width: 100%; }
.GeneralMaterial-default .GeneralMaterial-body { max-width: 650px; margin: 0px auto; }
@media only screen and (min-width: 64em) {
  .GeneralMaterial-default .GeneralMaterial-body { max-width: 1000px; }
}
@media only screen and (min-width: 64em) {
}
@media only screen and (min-width: 64em) {
  .GeneralMaterial-default .GeneralMaterial-body { display: flex; flex-flow: row nowrap; }
}
.GeneralMaterial-simple .GeneralMaterial-head { margin-bottom: 21px; }
@media only screen and (min-width: 48em) {
  .GeneralMaterial-simple .GeneralMaterial-head { margin-bottom: 31px; }
}
@supports ((-webkit-filter: blur()) or (filter: blur())) {
}
a { color: blue; }
a:hover { color: red; }
.Header-root { position: relative; z-index: 300; display: flex; align-items: center; flex-flow: row wrap; height: 70px; -moz-user-select: none; font-family: Proxima Nova,Arial,Helvetica Neue,sans-serif; }
@media only screen and (min-width: 64em) {
  .Header-root { height: 77px; }
}
.Header-menuToggle { z-index: 100; margin-left: auto; padding-top: 22px; }
@media only screen and (min-width: 64em) {
  .Header-menuToggle { display: none; }
}
.Header-logo { position: absolute; z-index: 100; top: 0px; right: 0px; bottom: 0px; left: 0px; display: flex; align-items: center; flex-direction: row; justify-content: center; padding-top: 18px; background-color: inherit; }
@media only screen and (min-width: 64em) {
  .Header-logo { position: static; flex-basis: 16%; flex-grow: 1; justify-content: flex-start; padding-top: 0px; background-color: transparent; }
}
.Header-meduza { display: inline-block; margin-top: -4px; fill: rgb(208, 153, 89); }
@media only screen and (min-width: 64em) {
  .Header-meduza { padding: 0px 15px; }
}
.Header-buttons { position: absolute; z-index: 100; top: 0px; bottom: 0px; left: 0px; display: flex; align-items: center; flex-flow: row nowrap; padding-top: 22px; letter-spacing: 1px; font-size: 14px; line-height: 1; }
@media only screen and (min-width: 64em) {
  .Header-buttons { position: static; flex-basis: 16%; flex-grow: 1; justify-content: flex-end; padding-top: 2px; }
}
@media only screen and (min-width: 64em) {
  .Header-buttons .Header-item::after { content: ""; }
}
.Header-buttons .Header-item:last-child::after { display: none; }
.Header-nav { position: absolute; top: 58px; right: 0px; left: 0px; visibility: hidden; overflow: hidden; height: 0px; padding: 12px 12px 4px; transition: height 0.2s ease 0s, visibility 0.2s ease 0s, opacity 0.2s ease 0s; opacity: 0; background-color: rgb(4, 4, 4); }
@media only screen and (min-width: 64em) {
  .Header-nav { position: static; visibility: visible; height: auto; padding: 2px 0px 0px; transition: none 0s ease 0s ; transform: translateZ(0px); opacity: 1; background-color: transparent; }
}
.Header-item { position: relative; display: inline-flex; align-items: center; justify-content: center; min-width: 45px; height: 45px; cursor: pointer; transition: color 0.15s ease-out 0s; letter-spacing: 1px; text-transform: uppercase; color: rgb(255, 255, 255); border: 0px none; background: transparent none repeat scroll 0% 0%; font-weight: 600; fill: currentcolor; }
.Header-item::after { position: absolute; top: 50%; right: -1px; height: 18px; transform: translateY(-50%); border-left: 1px solid rgb(64, 64, 64); }
.Header-item:focus, .Header-item:hover, .Header-menu a:hover { color: rgb(153, 153, 153); }
.Header-menu a { color: rgb(255, 255, 255); padding: 0px 6px; display: block; }
@media only screen and (min-width: 48em) {
  .Header-menu a { padding: 0px 15px; }
}
.Header-itemSearch, .Header-menuToggle .Header-item { color: rgb(115, 115, 115); }
@media only screen and (min-width: 64em) {
  .Header-itemSearch, .Header-menuToggle .Header-item { color: rgb(255, 255, 255); }
}
.Header-itemLang { display: none; }
@media only screen and (min-width: 64em) {
  .Header-itemLang { display: inline-flex; }
}
.Header-menu { display: flex; align-items: center; flex-flow: column wrap; justify-content: center; padding-top: 16px; border-top: 1px solid rgb(50, 50, 50); font-size: 20px; line-height: 24px; }
@media only screen and (min-width: 48em) {
  .Header-menu { flex-flow: row wrap; flex-basis: 60%; flex-grow: 1; padding-top: 0px; border-top: 0px none; font-size: 14px; line-height: 17px; }
}
@media only screen and (min-width: 64em) {
  .Header-mobileNav { display: none; }
}
.Header-menuAdditional { margin-top: 24px; margin-bottom: 28px; padding: 32px 0px; text-align: center; border-top: 1px solid rgb(50, 50, 50); border-bottom: 1px solid rgb(50, 50, 50); font-size: 16px; line-height: 22px; }
.Header-menuAdditional a { color: rgba(255, 255, 255, 0.5); }
.Header-menuAdditionalItem { margin: 0px 6px; }
.Header-switcher { display: inline-flex; align-items: center; flex-direction: column; width: 100%; color: rgba(255, 255, 255, 0.5); font-size: 16px; }
.Footer-root { position: relative; z-index: 300; display: flex; align-items: center; flex-direction: column; justify-content: center; padding: 0px 3px 12px; text-align: center; color: rgb(153, 153, 153); font-family: Proxima Nova,Arial,Helvetica Neue,sans-serif; }
@media only screen and (min-width: 64em) {
  .Footer-root { justify-content: flex-start; padding: 26px 0px 15px; text-align: left; }
}
.Footer-root a { transition: color 0.15s ease-out 0s; color: rgb(255, 255, 255); }
.Footer-root a:hover { color: rgba(255, 255, 255, 0.5); }
.Footer-container { width: 100%; max-width: 675px; }
@media only screen and (min-width: 64em) {
  .Footer-container { max-width: 970px; }
}
.Footer-tip { display: none; }
@media only screen and (min-width: 64em) {
  .Footer-tip { display: block; }
}
.Footer-copyright { padding: 1px 12px 0px; text-align: left; font-size: 14px; }
@media only screen and (min-width: 64em) {
  .Footer-copyright { display: flex; flex-flow: row nowrap; justify-content: space-between; padding: 13px 0px 0px; border-top: 1px solid rgb(51, 51, 51); font-size: 14px; line-height: 16px; }
}
.Footer-giphy { margin-bottom: 14px; padding-top: 14px; padding-bottom: 13px; text-align: center; border-top: 1px solid rgb(36, 36, 36); border-bottom: 1px solid rgb(36, 36, 36); }
@media only screen and (min-width: 64em) {
  .Footer-giphy { margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; text-align: left; border-width: 0px; }
}
.Footer-giphy a { display: inline-block; flex-shrink: 0; width: 60px; height: 14px; margin: -3px 8px 0px; vertical-align: middle; background-image: url("edf37273be8a8bd36f38c40abf3ab0ab.png"); background-size: 60px auto; font-size: 0px; }
.Footer-copyrightGroup { display: flex; flex-flow: row nowrap; }
.Footer-copyrightItem { width: 100%; }
@media only screen and (min-width: 64em) {
  .Footer-copyrightItem { display: flex; flex-flow: row nowrap; width: auto; }
}
.Footer-copyrightItem::after { display: block; height: 18px; margin: 0px 15px; border-left: 1px solid rgb(64, 64, 64); }
@media only screen and (min-width: 64em) {
  .Footer-copyrightItem::after { content: ""; }
}
.Footer-about { flex-shrink: 0; text-align: right; }
@media only screen and (min-width: 64em) {
  .Footer-about { text-align: left; }
}
.App-header { position: relative; z-index: 500; width: 100%; max-width: 1335px; margin: 0px auto; }
@media only screen and (min-width: 64em) {
  .App-header { z-index: auto; }
}
.App-container {  background-repeat: no-repeat; background-position: center top; background-size: 162px auto; }
@media only screen and (min-width: 64em) {
  .App-container { background-position: center top; background-size: 412px 218px; }
}
.App-content { position: relative; z-index: 100; flex-grow: 1; width: 100%; min-height: calc(100vh - 140px); }
@media only screen and (min-width: 32em) {
  .App-content { max-width: 1335px; margin-right: auto; margin-left: auto; }
}
@media only screen and (min-width: 64em) {
}
.App-footer { margin-top: 40px; }
@media only screen and (min-width: 32em) {
  .App-footer { margin-top: 64px; }
}
html { font-family: sans-serif; }
body { margin: 0px; }
footer, header, main, nav { display: block; }
a { background-color: transparent; }
svg { overflow: visible; }
button { font: inherit; margin: 0px; }
button { overflow: visible; }
button { text-transform: none; }
button, html [type="button"] {  }
[type="button"]::-moz-focus-inner, button::-moz-focus-inner { border-style: none; padding: 0px; }
[type="button"]:-moz-focusring, button:-moz-focusring { outline: 1px dotted buttontext; }
html { background-color: rgb(0, 0, 0); }
@media only screen and (min-width: 64em) {
  html { font-size: 1.49813vw; }
}
@media (min-width: 1335px) {
  html { font-size: 20px; }
}
body { font-family: PF Regal,PF Regal Text Pro,Georgia,serif; }
h1, h3, h4 { margin: 0px; padding: 0px; font-weight: 400; }
* { box-sizing: border-box; }
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: url("ProximaNova-Regular-4238ca.woff") format("woff");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  src: url("ProximaNova-Semibold-125692.woff") format("woff");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  src: url("ProximaNova-Bold-86fdfa.woff") format("woff");
}
.Figure-caption { width: 100%; margin-right: auto; margin-left: auto; font-family: Proxima Nova,Arial,Helvetica Neue,sans-serif; font-size: 16px; line-height: 22px; max-width: 520px; padding-top: 4px; color: rgb(26, 26, 26); display: block; }
.Figure { display: block; max-width: 650px; width: 100%; margin: 20px auto; }
a.button { font-size: 120%; text-align: center; color: rgb(255, 255, 255) ! important; background-color: red; display: table; margin: 25px auto; width: 400px; max-width: 100%; border-radius: 15px; text-decoration: none; padding: 15px; }
a.button:hover { background-color: rgb(193, 31, 31); }
.ittem-comment { display: block; position: relative; margin-bottom: 25px; min-height: 60px; }
.ittem-comment p { display: block; position: relative; padding-left: 75px; margin-bottom: 5px; font-size: 90%; line-height: 1.3; }
@media only screen and (max-width: 500px) {
  a.button { width: 100%; }
}
.ava-img { width: 60px; border-radius: 10px; display: block; position: relative; float: left; }
@media (max-width: 339px) {
  .c15 .c3 p { padding: 0px; }
}
