.top {
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  padding-right: 55px;
  padding-left: 55px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #000;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.image {
  width: 90px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 600px;
  margin-left: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.link-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #fff;
  font-size: 13px;
  font-weight: 900;
  text-decoration: none;
}

.link-block-2:hover {
  color: #ff0032;
}

.body {
  background-color: #f2f2f2;
  font-family: Montserrat, sans-serif;
  color: #000;
}

.text-block {
  letter-spacing: 1px;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 336px;
  margin-left: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.icon {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon.icon2 {

}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 122px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social {
  width: 22px;
  height: 22px;
  border-radius: 3px;
  background-color: #f95959;
}

.social.soc1 {

  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.social.soc2 {
  background-color: transparent;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.social.soc3 {
  background-color: transparent;

  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.social.soc4 {
  background-color: transparent;

  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .15);
}

.link-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: -1px 0 5px 0 rgba(0, 0, 0, .06);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #727272;
  font-weight: 400;
  text-decoration: none;
}

.link-block-3:hover {
  background-color: #ff0032;
  color: #fff;
}

.link-block-3.w--current {
  background-color: #ff0032;
  color: #fff;
}

.icon-2 {
  width: 13px;
  height: 10px;
  margin-left: 10px;

  background-position: 0px 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-2.icon-2-3 {

}

.icon-2.icon-2-4 {
  width: 11px;

}

.icon-2.icon-2-2 {

}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link {
  color: #ff0032;
  font-weight: 500;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link.w--current {
  text-decoration: none;
}

.link.w--current:hover {
  text-decoration: underline;
}

.comments {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1020px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .08);
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #000;
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 380px;
  padding: 30px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block-5 {
  margin-bottom: 6px;
  color: #fff;
  font-size: 26px;
  line-height: 26px;
  font-weight: 900;
}

.text-block-6 {
  color: #fff;
  font-size: 70px;
  line-height: 54px;
  font-weight: 900;
}

.button-2 {
  width: 100%;
  height: 39px;
  margin-top: 16px;
  background-color: #ff9002;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-weight: 600;
}

.button-2:hover {
  background-color: #f5b157;
}

.div-block-26 {
  margin-top: 34px;
}

.text-block-7 {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 800;
  letter-spacing: 0.4px;
}

.text-block-8 {
  margin-top: 2px;
  color: #8e8e8e;
  line-height: 18px;
  font-weight: 800;
}

.text-block-9 {
  margin-top: 12px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.div-block-28 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 90px 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block-29 {
  margin-bottom: 40px;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
}

.text-block-10 {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}

.text-span {
  color: #ff0032;
  font-weight: 500;
}

.div-block-30 {
  margin-bottom: 20px;
}

.text-block-11 {
  font-weight: 600;
}

.image-6 {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.pic-div {
  margin-top: 10px;
  margin-bottom: 30px;
}

.div-block-31 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider {
  height: auto;
  background-color: transparent;
}

.slide-nav {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.icon-3 {
  font-size: 34px;
}

.icon-4 {
  font-size: 34px;
}

.left-arrow {
  color: #ff0032;
}

.right-arrow {
  color: #ff0032;
}

.image-7 {
  width: 100%;
}

.div-block-32 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
}

.form-block {
  width: 320px;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 50px -10px rgba(0, 0, 0, .3);
}

.text-field {
  height: 42px;
  margin-bottom: 12px;
  padding-right: 20px;
  padding-left: 20px;
  border-style: none;
  border-radius: 3px;
  background-color: #f3f3f3;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.text-field:hover {
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .15);
}

.text-field:focus {
  border: 1px solid #ff0032;
}

.text-field::-webkit-input-placeholder {
  font-size: 13px;
}

.text-field:-ms-input-placeholder {
  font-size: 13px;
}

.text-field::placeholder {
  font-size: 13px;
}

.field-label {
  margin-bottom: 4px;
  color: #777a83;
  font-size: 12px;
  line-height: 12px;
  font-weight: 800;
}

.submit-button {
  width: 100%;
  height: 44px;
  margin-top: 6px;
  border-radius: 4px;
  background-color: #ff0032;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.submit-button:hover {
  background-color: #b81535;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, .3);
}

.button-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 56px;
  min-width: 320px;
  padding: 16px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 6px;
  background-color: #c73575;
  background-image: -webkit-linear-gradient(315deg, #e90000, #c222f5);
  background-image: linear-gradient(135deg, #e90000, #c222f5);
  box-shadow: 0 10px 30px -10px rgba(194, 56, 146, .7);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.4px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, .5);
}

.button-3:hover {
  background-image: none;
  box-shadow: 0 5px 50px -10px #c23892;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.button-3:active {
  box-shadow: 0 5px 30px -10px #c23892;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.image-8 {
  max-width: 120%;
  margin-top: 30px;
}

.div-block-34 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-13 {
  padding-bottom: 2px;
  border-bottom: 1px solid #ff0032;
  color: #ff0032;
  font-size: 15px;
  line-height: 25px;
  font-weight: 800;
}

.text-block-14 {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.div-block-35 {
  padding-bottom: 6px;
  border-bottom: 1px solid #ff0032;
}

.div-block-36 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.ava {
  width: 60px;
  height: 60px;
  margin-right: 30px;
  border-radius: 50%;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, .25);
}

.div-block-37 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block-15 {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.4px;
}

.text-block-15.date {
  font-size: 11px;
  font-weight: 600;
}

.text-block-16 {
  line-height: 22px;
}

.image-9 {
  margin-top: 20px;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #000;
}

.div-block-38 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-39 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.link-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.image-10 {
  width: 67px;
}

.image-11 {
  width: 52px;
}

.image-12 {
  width: 62px;
}

.image-13 {
  width: 70px;
}

.image-14 {
  width: 59px;
}

.image-15 {
  width: 62px;
}

.image-16 {
  width: 66px;
}

.image-17 {
  width: 81px;
}

.div-block-40 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.link-2 {
  margin-right: 12px;
  margin-left: 12px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #fff;
  font-size: 13px;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.div-block-41 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-17 {
  margin-top: 20px;
  color: #8e8e8e;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}

.div-block-42 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-43 {
  width: 4px;
  height: 4px;
  margin-right: 12px;
  margin-left: 12px;
  border-radius: 50%;
  background-color: #383838;
}

.text-span-2 {
  font-weight: 800;
  letter-spacing: 1px;
}

.text-span-3 {
  color: #ff0032;
}

@media (max-width: 991px) {
  .div-block {
    padding-right: 30px;
    padding-left: 30px;
  }
  .image {
    width: 80px;
  }
  .div-block-3 {
    margin-left: 30px;
  }
  .link-block-2 {
    margin-left: 0px;
  }
  .text-block {
    font-size: 11px;
  }
  .div-block-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .icon {
    margin-right: 0px;
    margin-left: 20px;
  }
  .icon.icon2 {
    margin-left: 20px;
  }
  .icon.icon3 {
    background-image: url('../images/share.svg');
    background-position: 50% 50%;
  }
  .section {
    padding-right: 0px;
    padding-left: 0px;
  }
  .container {
    max-width: 100%;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .div-block-23 {
    overflow: visible;
    padding-right: 40px;
    padding-bottom: 8px;
    padding-left: 40px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .div-block-24 {
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .text-block-5 {
    margin-bottom: 2px;
    font-size: 24px;
  }
  .text-block-6 {
    font-size: 60px;
  }
  .button-2 {
    width: auto;
  }
  .div-block-26 {
    margin-top: 0px;
    margin-left: 40px;
  }
  .text-block-8 {
    margin-top: 4px;
  }
  .text-block-9 {
    margin-top: 8px;
    color: #8e8e8e;
  }
  .image-8 {
    max-width: 100%;
    margin-top: 0px;
  }
  .div-block-38 {
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-39 {
    margin-bottom: 40px;
  }
  .link-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-size: 12px;
  }
  .div-block-41 {
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .div-block {
    height: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .div-block-2 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .image {
    width: 70px;
  }
  .section {
    padding-top: 40px;
  }
  .link-block-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-21 {
    width: 25px;
    height: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #fff;
  }
  .div-block-23 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .div-block-24 {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .text-block-5 {
    margin-right: 8px;
    margin-bottom: 0px;
    font-size: 13px;
    line-height: 14px;
  }
  .text-block-6 {
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.5px;
  }
  .button-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 32px;
    margin-top: 8px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  .div-block-26 {
    margin-top: 8px;
    margin-left: 0px;
  }
  .text-block-7 {
    font-size: 18px;
    line-height: 26px;
  }
  .text-block-8 {
    font-size: 12px;
  }
  .div-block-28 {
    padding: 40px 20px;
  }
  .heading-2 {
    font-size: 20px;
    line-height: 26px;
  }
  .icon-3 {
    margin-right: 10px;
    font-size: 30px;
  }
  .icon-4 {
    margin-left: 10px;
    font-size: 30px;
  }
  .image-8 {
    margin-top: 0px;
  }
  .div-block-33 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .ava {
    margin-right: 20px;
  }
  .link-block-5 {
    max-width: 100px;
    padding-right: 24px;
    padding-left: 24px;
  }
  .image-10 {
    width: 100%;
  }
  .image-11 {
    width: 100%;
  }
  .image-12 {
    width: 100%;
  }
  .image-13 {
    width: 100%;
  }
  .image-14 {
    width: 100%;
  }
  .image-15 {
    width: 100%;
  }
  .image-16 {
    width: 100%;
  }
  .image-17 {
    width: 100%;
  }
  .div-block-42 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-43 {
    width: 3px;
    height: 3px;
    margin-right: 8px;
    margin-left: 8px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 50%;
    background-color: #000;
  }
}

@media (max-width: 479px) {
  .div-block {
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-23 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-24 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .text-block-7 {
    font-size: 16px;
    line-height: 24px;
  }
  .div-block-28 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-29 {
    margin-bottom: 30px;
  }
  .heading-2 {
    font-size: 18px;
    line-height: 24px;
  }
  .icon-3 {
    font-size: 26px;
  }
  .icon-4 {
    font-size: 26px;
  }
  .form-block {
    width: 100%;
    max-width: 380px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .button-3 {
    width: 100%;
    max-width: 380px;
    min-width: auto;
    padding-right: 15px;
    padding-left: 15px;
    letter-spacing: 0.1px;
  }
  .ava {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .section-2 {
    padding-bottom: 20px;
  }
  .div-block-38 {
    padding-right: 3%;
    padding-left: 3%;
  }
  .link-block-5 {
    max-width: 64px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-40 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .link-2 {
    margin-bottom: 8px;
  }
  .text-block-17 {
    margin-top: 16px;
  }
}