@media screen and (max-width: 1640px) {
 .logo{
	left: -140px;
	}
}

@media screen and (max-width: 1425px) {
 .logo{
	position: relative;
	left: 0;
	}
}

@media screen and (max-width: 850px) {
	nav{
		display: none;
	}

	.main-header{
		height: auto;
		padding: 10px;
	}

	.container{
		max-width: calc(100% - 20px);
	}
}

@media screen and (max-width: 730px) {
	.img-gallery{
		max-width: 361px;
	}
}

@media screen and (max-width: 650px) {
	.article-body .doc-info{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.comment-element .avatar {
    margin-right: 10px;
	}
	.comment-element {
    padding: 10px 0; 
  }
}