.certificate__list {
    text-align: center;
    font-size: 0;
    margin-bottom: 42px;
}
.certificate__item:first-child {
    margin-left: 0;
}
.certificate__item {
    cursor: pointer;
    width: 150px;
    box-shadow: 0 5px 13px rgba(182, 213, 240, .75);
    background-color: #fff;
    position: relative;
    text-align: center;
    margin: 0 6px 5px;
}
.certificate__item, .certificate__photo {
    display: inline-block;
    vertical-align: middle;
}
.certificate__item, .certificate__photo {
    display: inline-block;
    vertical-align: middle;
}
.certificate__layer:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #276093;
    transition: .3s;
}
.certificate__layer:after, .certificate__layer:before {
    content: '';
    position: absolute;
}
.certificate__layer:before, .final__rabbit:before, .final__stainer:before, .thanks__inner:before {
    content: '';
}
.certificate__layer:after, .certificate__layer:before {
    opacity: 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.certificate__layer:after {
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    background: url(find.svg) center no-repeat, #276093;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transition: .3s;
}
.certificate__photo{
    width: 100%;
}
.certificate__layer:hover:before {
    opacity: .6
}

.certificate__layer:hover:after {
    opacity: 1
}

.like-block { display: block; width: 95.7%; border: 2px solid rgb(230, 230, 230); padding: 0px 2% 2%; margin: 3% 0px; border-radius: 3px; }
.like-block img { display: block; width: auto; }
.vk-container { font-family: tahoma,arial,verdana,sans-serif; font-size: 15px; color: black; text-decoration: none; }
.vk-header { background: rgb(218, 226, 232) none repeat scroll 0% 0%; padding: 4px 4px 4px 6px; margin-bottom: 10px; }
.vk-logo { background: transparent none no-repeat scroll 0% 0%; width: 16px; height: 16px; float: right; margin-top: -1px; }
.vk-header-text { padding: 2px 3px 1px; line-height: 100%; color: rgb(69, 104, 142); font-weight: bold; }
.vk-comment, .vk-comment-load { margin-bottom: 15px; position: relative; border-bottom: 1px solid rgb(218, 225, 232); padding-bottom: 15px; }
.vk-avatar img { float: left; margin-right: 10px; }
.vk-comment-name { color: rgb(43, 88, 122); font-weight: bold; font-size: 12px; }
.vk-comment-text { margin-left: 60px; }
.vk-comment-date { margin-left: 60px; color: rgb(153, 153, 153); }
div.blur {
    position: relative;
    background: #eee;
    padding: 10px;
    cursor: pointer;
}
div.blur img {
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
div.blur.active img {
    filter: none;
}
.blur-p {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000;
}
/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("OpenSans.eot_001.html") format("embedded-opentype"), url("OpenSans.woff_001.html") format("woff"), url("OpenSans.ttf_001.html") format("truetype"), url("OpenSans.svg_001.html") format("svg");
}
@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 400;
  src: url("OpenSansLight.eot_001.html") format("embedded-opentype"), url("OpenSansLight.woff_001.html") format("woff"), url("OpenSansLight.ttf_001.html") format("truetype"), url("OpenSansLight.svg_001.html") format("svg");
}
.mIn { width: 1400px; }
@media screen and (max-width: 1400px) {
  div.mIn { width: 100% !important; }
}
h1, h2, h3, h4 { font-weight: 500; }
h1 { font-size: 2.5em; line-height: 110%; font-weight: 400; }
body { overflow-x: hidden; font-family: "Segoe UI","Open Sans",Arial,sans-serif; }
a.button, button { float: left; color: rgb(235, 2, 84); border: 1px solid rgb(235, 2, 84); background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; padding: 10px; text-decoration: none; text-align: center; text-transform: uppercase; font-family: "Segoe UI","Open Sans",Arial,sans-serif; cursor: pointer; font-size: 16px; font-weight: 700; transition: all 0.3s ease-in-out 0s; border-radius: 4px; }
a.button:hover, button:hover { background: rgb(235, 2, 84) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
#__main__ { transition: all 0.3s ease-in-out 0s; }
#__main__.fly { transform: translate3d(300px, 0px, 0px) !important; filter: blur(3px); transition: -webkit-filter 0.1s ease-in-out 0s; }
#mobile_menu { position: fixed; margin: 0px; top: 0px; left: -300px; width: 300px; height: 100%; background: rgb(0, 51, 102) none repeat scroll 0% 0%; overflow: hidden; transition: all 0.3s ease-in-out 0s; }
#mobile_menu .socseti { background: rgb(40, 73, 107) none repeat scroll 0% 0%; position: absolute; left: 0px; top: 0px; bottom: 0px; width: 40px; height: 100%; margin: 0px; }
#mobile_menu .socseti a { display: block; float: left; width: 100%; text-align: center; padding: 8px 0px; color: rgb(255, 255, 255); border-top: 1px solid rgba(255, 255, 255, 0.15); }
#mobile_menu ul.menu { margin-left: 40px; position: relative; height: 100%; list-style: outside none none; padding: 0px 30px 10px; }
#mobile_menu ul.menu li { cursor: pointer; float: left; position: relative; width: 100%; }
#mobile_menu ul.menu li a { display: inline-block; float: left; font-size: 13px; font-weight: 400; line-height: 100%; padding: 14px 0px; text-transform: uppercase; text-decoration: none; }
#mobile_menu ul.menu li:first-child { border: medium none; }
#mobile_menu.active { left: 0px; }
ul.menu > li > a { color: rgb(255, 255, 255); font-size: 14px; text-decoration: none; text-transform: uppercase; transition: all 0.1s ease-in-out 0s; }
ul.menu > li:hover > a { color: rgb(255, 255, 255) !important; }
ul.menu > li.active a { color: rgba(255, 255, 255, 0.5); }
ul.menu:hover > li > a { color: rgba(255, 255, 255, 0.5); }
#header { display: flex; position: relative; top: 0px; left: 0px; width: 99%; color: rgb(255, 255, 255); background: rgb(0, 51, 102) none repeat scroll 0% 0%; z-index: 999; transition: all 0.3s ease-in-out 0s; max-width: 1340px; margin: 0px auto; padding: 3px 5px; }
#header a.expander { display: none; }
#header i.expander { float: left; font-size: 30px; line-height: 160%; margin-left: 10px; cursor: pointer; font-style: normal; }
#header i.expander::before { font-family: icons; content: "¡"; }
#header i.expander.active::before { content: "©"; }
#header > div > div { float: left; margin: 10px 0px 0px; }
#header .mobile_menu { display: none; }
#header .logo { margin-left: 50px; margin-right: 30px; }
#header .logo img { height: 40px; width: auto; }
@media screen and (max-width: 736px) {
  #header .logo { margin-left: 40px; margin-right: 0px; }
}
#header .main_menu > ul.menu { list-style: outside none none; margin-top: 6px; }
#header .main_menu > ul.menu > li { display: inline-block; }
#header .main_menu > ul.menu > li > .preview { position: absolute; display: none; left: 0px; width: 100%; padding: 10px 0px 0px; margin: 0px; z-index: 99; overflow: hidden; }
#header .main_menu > ul.menu > li > .preview ul { float: left; width: 100%; background: rgb(0, 51, 102) none repeat scroll 0% 0%; padding: 0px 20px 10px 0px; }
#header .main_menu > ul.menu > li > .preview ul li { position: relative; display: inline-block; float: left; padding: 20px; width: 20%; overflow: hidden; opacity: 1; transition: all 0.1s ease-in-out 0s; }
#header .main_menu > ul.menu > li > .preview ul li a { position: relative; float: left; text-decoration: none; color: rgb(255, 255, 255); }
#header .main_menu > ul.menu > li > .preview ul li a img { width: 100%; height: auto; }
#header .main_menu > ul.menu > li > .preview ul li a p { font-size: 14px; padding: 10px 0px; }
#header .main_menu > ul.menu > li > .preview ul li:hover { opacity: 0.8; }
#header .main_menu > ul.menu > li > a { padding: 5px 10px; font-weight: 700; }
#header .main_menu > ul.menu > li:hover .preview { display: block; }
@media screen and (max-width: 1024px) {
  #header .main_menu { display: none; }
}
#header .socseti { float: right; margin-top: 10px; margin-right: 10px; }
#header .socseti a { display: inline-block; color: rgba(255, 255, 255, 0.5); padding: 5px; width: 30px; height: 30px; text-align: center; cursor: pointer; }
#header .socseti a:hover { color: rgb(255, 255, 255); }
#header .socseti a.icons-search { font-weight: 700; margin-right: 15px; }
@media screen and (max-width: 1024px) {
  #header .socseti { display: none; }
}
#header .search { position: relative; float: left; width: 100%; margin: 0px; padding: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; display: none; }
#header .search.active { display: block; }
@media screen and (max-width: 736px) {
  #header .search { display: none; }
}
#header.active { margin-left: 300px; }
#header.active i.expander::before { content: "©"; }
.search form { position: relative; float: left; width: 100%; }
.search form input { display: block; width: 100%; padding: 5px 10px; font-size: 18px; }
.search form select { display: none; }
.search form button { position: absolute; right: 0px; top: 0px; height: 35px; width: 35px; border: medium none; background: rgb(0, 51, 102) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-weight: 700; cursor: pointer; }
#upB { background-color: rgb(238, 238, 238); padding-top: 15px; }
#upB > div div:first-child { padding-left: 0px; }
#upB > div div:last-child { padding-right: 0px; }
@media screen and (max-width: 736px) {
  #upB { padding-top: 45px; }
  #upB > div { display: none; }
}
#main_news { background-color: rgb(238, 238, 238); }
#main_news .news .section { min-height: 100px; }
#main_news .news .section article { display: none; background: rgba(0, 0, 0, 0) linear-gradient(to top, rgb(0, 0, 0), transparent) repeat scroll 0% 0%; }
#main_news .news .section article img { width: 100%; height: auto; opacity: 0.8; transition: all 0.3s ease-in-out 0s; font-size: 0px; }
#main_news .news .section article div.content { position: absolute; width: 100%; bottom: 0px; left: 0px; padding: 20px 5%; background: rgba(0, 0, 0, 0) linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)) repeat scroll 0% 0%; }
#main_news .news .section article div.content .categories a { display: inline-block; margin: 0px 3px 7px 0px; padding: 4px 10px; background: rgb(255, 0, 85) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: 11px; font-weight: 700; line-height: 100%; text-transform: uppercase; text-decoration: none; }
#main_news .news .section article div.content h3 { color: rgb(255, 255, 255); float: left; font-size: 18px; font-weight: 100; line-height: 120%; height: 63px; width: 100%; }
#main_news .news .section article div.content h3 a { color: rgb(255, 255, 255); font-size: 0.9em; text-decoration: none; }
#main_news .news .section article:hover img { opacity: 1; }
#main_news .news .section .slick-next, #main_news .news .section .slick-prev { margin-top: 0px; }
@media screen and (max-width: 736px) {
  #main_news { display: none; }
}
.slick-next, .slick-prev { z-index: 100; margin-top: 0px; width: auto !important; padding: 70px 30px; height: auto; }
.slick-next::before, .slick-prev::before { font-family: icons; font-size: 3rem; }
.slick-next:hover, .slick-prev:hover { background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; }
.slick-prev { left: 0px; }
.slick-prev::before { content: "Ì"; }
.slick-next { right: 0px; }
.slick-next::before { content: "Ï"; }
#body { position: relative; min-height: 700px; background-color: rgb(238, 238, 238); }
#body #left { padding-left: 0px; }
#body #left > div > div { position: relative; float: left; width: 100%; margin-bottom: 10px; }
#body #left #vk_groups { margin-top: 10px; }
#body > #center { padding-left: 0px; }
#body > #center p { margin-bottom: 20px; }
#body #right { padding-right: 0px; }
#body #right > div > div { position: relative; float: left; width: 100%; margin-bottom: 10px; }
#body #right ._company div.news { margin-bottom: 10px; }
#body #right ._company div.news header.categoryImg { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#body #right ._company div.news img.header { float: none; margin: 0px auto; display: block; padding: 20px 20px 0px; width: 80%; height: auto; }
#body #bodyContainer { padding: 0px; }
#body #bodyContainer #center { float: right; }
@media screen and (max-width: 736px) {
  #body ._social_widgets { padding: 0px 20px; }
  #body ._company > header a { text-decoration: underline; }
  #body ._company div.news { display: none; }
  #body .sidebn { padding-left: 15px; padding-right: 15px; }
}
header.blockHeader { margin-top: -3px; border: medium none; margin-bottom: 10px; }
header.blockHeader .blockHeaderName { background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; padding: 0px; }
@media screen and (max-width: 736px) {
  header.blockHeader .blockHeaderName { padding: 0px 20px; }
}
header.blockHeader .blockHeaderName a { color: rgb(34, 34, 34); font-weight: 700; }
header.blockHeader > a { display: none; }
#left .section > article, #right .section > article, body.index ._ask .section > article, body.index ._interview .section > article { padding: 20px 5px 10px; margin: 0px auto; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(238, 238, 238); }
#left .section > article div.img, #right .section > article div.img, body.index ._ask .section > article div.img, body.index ._interview .section > article div.img { border: medium none; margin-bottom: 10px; }
#left .section > article .linkName, #right .section > article .linkName, body.index ._ask .section > article .linkName, body.index ._interview .section > article .linkName { color: rgb(34, 34, 34); font-size: 14px; font-weight: 400; }
#left .section > article .meta, #right .section > article .meta, body.index ._ask .section > article .meta, body.index ._interview .section > article .meta { display: none; }
#left .section > article .caption, #right .section > article .caption, body.index ._ask .section > article .caption, body.index ._interview .section > article .caption { display: none; }
#left .section > article .tags, #right .section > article .tags, body.index ._ask .section > article .tags, body.index ._interview .section > article .tags { display: none; }
#left .section > article .ya-share2, #right .section > article .ya-share2, body.index ._ask .section > article .ya-share2, body.index ._interview .section > article .ya-share2 { display: none; }
body.index ._interview1 { float: left; margin-bottom: 10px; }
body.index ._interview1 .section { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
body.index ._interview1 .section article { width: 33%; margin-bottom: 0px; border: 0px none; }
body.index ._all { float: left; margin-bottom: 0px; }
@media screen and (max-width: 999px) {
  .iframe2 { display: none; }
}
@media screen and (max-width: 850px) {
  ul.menu > li > a { font-size: 12px; }
}
@media screen and (max-width: 800px) {
  ul.menu > li > a { font-size: 11px; }
}
@media screen and (max-width: 736px) {
  body.index ._all h2, ._newsBN, .related, #right { display: none; }
}
body.index ._all .section article { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 20px; margin-bottom: 0px; }
body.index ._all .section article .content .meta time { float: right; padding-top: 0px; }
@media screen and (max-width: 736px) {
  body.index ._all .section article .content .meta time { padding-top: 5px; }
}
body.index ._all .section article .content .meta .categories { float: left; }
body.index ._all .section article .content .meta .categories a { margin: 0px 10px 10px 0px; text-transform: uppercase; }
body.index ._all .section article .tags, body.index ._all .section article .ya-share2 { display: none; }
body.index ._all .twoButtons { position: relative; float: left; display: block; width: 100%; }
body.index ._all .twoButtons > * { width: 48%; margin: 20px 0px 0px; float: left; }
body.index ._all .twoButtons > :last-child { float: right; }
@media screen and (max-width: 736px) {
  body.index ._all .twoButtons { padding: 0px 20px; }
}
body.index ._all .newsCalendar { display: none; width: 50%; float: none; margin: 0px auto; }
body.index ._all .newsCalendar .header { margin-top: 20px; }
body.index ._ask .section { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
body.index ._ask .section article { border-bottom: 0px none; width: 25%; }
body.index ._ask { position: relative; float: left; width: 100%; margin-bottom: 20px; }
body.index ._photo { position: relative; float: left; width: 100%; margin-bottom: 10px; }
body.index ._photo .news-slider { position: relative; float: left; width: 100%; }
body.index ._photo .news-slider .slider-for li { position: relative; width: 100%; float: left; }
body.index ._photo .news-slider .slider-for li .count { position: absolute; top: 3px; right: 7px; font-size: 14px; color: rgb(255, 255, 255); text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
body.index ._photo .news-slider .slider-for li .count::before { font-family: icons; content: "4"; margin-right: 3px; }
body.index ._photo .news-slider .slider-for li img { width: 100%; height: auto; }
body.index ._photo .news-slider .slider-for li p { position: absolute; left: 0px; bottom: 0px; width: 100%; padding: 20px; background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-align: center; }
body.index ._photo .news-slider .slider-nav { padding: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
body.index ._photo .news-slider .slider-nav li { cursor: pointer; }
._content h1, ._content h2, ._content h3, ._content h4, ._content h5, ._content h6, ._content p, ._news h1, ._news h2, ._news h3, ._news h4, ._news h5, ._news h6, ._news p { margin-bottom: 20px; }
._content .news.current, ._content .news.lenta, ._news .news.current, ._news .news.lenta { margin-bottom: 0px; }
._content .news.current .section article, ._content .news.lenta .section article, ._news .news.current .section article, ._news .news.lenta .section article { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-bottom: 0px; padding-bottom: 40px; }
._content .news.current .section article h1, ._content .news.lenta .section article h1, ._news .news.current .section article h1, ._news .news.lenta .section article h1 { padding: 0px 20px 0px 60px; }
@media screen and (max-width: 736px) {
  ._content .news.current .section article h1, ._content .news.lenta .section article h1, ._news .news.current .section article h1, ._news .news.lenta .section article h1 { padding: 20px 20px 0px; font-size: 1.5em; }
}
._content .news.current .section article h3.linkName, ._content .news.lenta .section article h3.linkName, ._news .news.current .section article h3.linkName, ._news .news.lenta .section article h3.linkName { padding: 20px 20px 0px 60px; margin: 0px; font-size: 1.5em; }
@media screen and (max-width: 1024px) {
  ._content .news.current .section article h3.linkName, ._content .news.lenta .section article h3.linkName, ._news .news.current .section article h3.linkName, ._news .news.lenta .section article h3.linkName { padding: 20px 20px 5px; }
}
._content .news.current .section article div.gallery, ._content .news.lenta .section article div.gallery, ._news .news.current .section article div.gallery, ._news .news.lenta .section article div.gallery { position: relative; float: left; width: 100%; margin-bottom: 30px; min-height: 150px; }
._content .news.current .section article div.gallery .news-slider, ._content .news.lenta .section article div.gallery .news-slider, ._news .news.current .section article div.gallery .news-slider, ._news .news.lenta .section article div.gallery .news-slider { min-height: 100px; background-image: url("loading.gif.html"); background-repeat: no-repeat; background-position: center center; cursor: progress !important; }
._content .news.current .section article div.gallery > img, ._content .news.lenta .section article div.gallery > img, ._news .news.current .section article div.gallery > img, ._news .news.lenta .section article div.gallery > img { width: 100%; height: auto; font-size: 0px; }
._content .news.current .section article div.gallery .caption, ._content .news.lenta .section article div.gallery .caption, ._news .news.current .section article div.gallery .caption, ._news .news.lenta .section article div.gallery .caption { position: absolute; bottom: 0px; left: 0px; width: 100%; padding: 30px 60px; font-size: 20px; color: rgb(255, 255, 255); margin: 0px !important; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); background: rgba(0, 0, 0, 0) linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)) repeat scroll 0% 0%; }
@media screen and (max-width: 1024px) {
  ._content .news.current .section article div.gallery .caption, ._content .news.lenta .section article div.gallery .caption, ._news .news.current .section article div.gallery .caption, ._news .news.lenta .section article div.gallery .caption { position: relative; padding: 10px 20px; background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; color: rgb(0, 0, 0); text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3); font-size: 18px; }
}
._content .news.current .section article .sub, ._content .news.lenta .section article .sub, ._news .news.current .section article .sub, ._news .news.lenta .section article .sub { position: relative; float: left; width: 100%; }
._content .news.current .section article .categories, ._content .news.lenta .section article .categories, ._news .news.current .section article .categories, ._news .news.lenta .section article .categories { padding: 0px 20px 0px 60px; }
@media screen and (max-width: 736px) {
  ._content .news.current .section article .categories, ._content .news.lenta .section article .categories, ._news .news.current .section article .categories, ._news .news.lenta .section article .categories { padding: 0px 20px; }
}
._content .news.current .section article .categories a, ._content .news.lenta .section article .categories a, ._news .news.current .section article .categories a, ._news .news.lenta .section article .categories a { text-decoration: none; color: rgb(255, 255, 255); background: rgb(235, 2, 84) none repeat scroll 0% 0%; padding: 5px 10px; font-size: 11px; font-weight: 700; line-height: 100%; text-transform: uppercase; margin-right: 10px; }
._content .news.current .section article .ya-share2, ._content .news.lenta .section article .ya-share2, ._news .news.current .section article .ya-share2, ._news .news.lenta .section article .ya-share2 { padding: 0px 20px 20px 60px; display: block; float: left; width: 100%; }
@media screen and (max-width: 736px) {
  ._content .news.current .section article .ya-share2, ._content .news.lenta .section article .ya-share2, ._news .news.current .section article .ya-share2, ._news .news.lenta .section article .ya-share2 { padding: 0px 20px; }
}
._content .news.current .section article .tags, ._content .news.lenta .section article .tags, ._news .news.current .section article .tags, ._news .news.lenta .section article .tags { padding: 0px 20px 20px 60px; }
._content .news.current .section article .tags > span, ._content .news.lenta .section article .tags > span, ._news .news.current .section article .tags > span, ._news .news.lenta .section article .tags > span { display: none; text-transform: uppercase; }
._content .news.current .section article .tags > span::before, ._content .news.lenta .section article .tags > span::before, ._news .news.current .section article .tags > span::before, ._news .news.lenta .section article .tags > span::before { display: none; }
._content .news.current .section article .tags a, ._content .news.lenta .section article .tags a, ._news .news.current .section article .tags a, ._news .news.lenta .section article .tags a { color: rgb(235, 2, 84); text-transform: uppercase; font-weight: 700; padding: 2px 3px; }
._content .news.current .section article .tags a:hover, ._content .news.lenta .section article .tags a:hover, ._news .news.current .section article .tags a:hover, ._news .news.lenta .section article .tags a:hover { color: rgb(255, 255, 255); background: rgb(235, 2, 84) none repeat scroll 0% 0%; }
._content .news.current .section article .tags:first-child a, ._content .news.lenta .section article .tags:first-child a, ._news .news.current .section article .tags:first-child a, ._news .news.lenta .section article .tags:first-child a { margin-left: 0px !important; }
._content .news.current .section article time, ._content .news.lenta .section article time, ._news .news.current .section article time, ._news .news.lenta .section article time { display: block; padding: 0px 20px 20px 60px; color: grey; font-size: 0.8em; }
._content .news.current .section article > p, ._content .news.lenta .section article > p, ._news .news.current .section article > p, ._news .news.lenta .section article > p { padding-left: 60px; padding-right: 60px; }
@media screen and (max-width: 736px) {
  ._content .news.current .section article > p, ._content .news.lenta .section article > p, ._news .news.current .section article > p, ._news .news.lenta .section article > p { padding-left: 20px; padding-right: 20px; }
}
._content .news.current .section article .news_content, ._content .news.lenta .section article .news_content, ._news .news.current .section article .news_content, ._news .news.lenta .section article .news_content { float: left; width: 75%; padding: 0px 20px 0px 60px; }
@media screen and (max-width: 736px) {
  ._content .news.current .section article .news_content, ._content .news.lenta .section article .news_content, ._news .news.current .section article .news_content, ._news .news.lenta .section article .news_content { padding: 0px 20px; width: 100%; }
}
._content .news.current .section article .news_content .ya-share2, ._content .news.lenta .section article .news_content .ya-share2, ._news .news.current .section article .news_content .ya-share2, ._news .news.lenta .section article .news_content .ya-share2 { position: relative; float: right; margin-bottom: 30px; padding: 0px; }
._content .news.current .section article .news_content .tags, ._content .news.lenta .section article .news_content .tags, ._news .news.current .section article .news_content .tags, ._news .news.lenta .section article .news_content .tags { padding: 0px; }
._content .news.current .section article .news_content a.printPage, ._content .news.lenta .section article .news_content a.printPage, ._news .news.current .section article .news_content a.printPage, ._news .news.lenta .section article .news_content a.printPage { float: right; cursor: pointer; text-decoration: underline; }
._content .news.current .section article, ._news .news.current .section article { padding-bottom: 0px !important; }
._content .news.current .section article > p, ._news .news.current .section article > p { padding: 0px !important; }
._content .news.current .section article .tags, ._news .news.current .section article .tags { padding: 0px; display: block; width: 100%; margin: 10px 0px; }
._content .news.current .section article time, ._news .news.current .section article time { display: inline-block; padding-left: 0px; }
._content .news.current .section article time::after, ._news .news.current .section article time::after { content: "ЯРНОВОСТИ"; margin-left: 20px; }
._content .news_content, ._news .news_content { float: left; width: 75%; padding: 0px 20px 0px 60px !important; }
@media screen and (max-width: 736px) {
  ._content .news_content, ._news .news_content { padding: 0px 20px !important; width: 100%; }
}
._content .news_content .section article .beforeContent, ._news .news_content .section article .beforeContent { position: relative; float: left; width: 100%; margin-bottom: 30px; }
._content .news_content .section article .beforeContent .categories, ._news .news_content .section article .beforeContent .categories { padding: 0px; margin: 0px; float: left; }
._content .news_content .section article .beforeContent .ya-share2, ._news .news_content .section article .beforeContent .ya-share2 { float: right !important; width: auto !important; padding: 0px; margin: 0px; }
._content .news_content .section article a.printPage, ._news .news_content .section article a.printPage { float: right; cursor: pointer; text-decoration: underline; color: grey; font-size: 0.8em; }
@media screen and (max-width: 1024px) {
  ._content .news_content .section article a.printPage, ._news .news_content .section article a.printPage { display: none; }
}
._content ._newsBN, ._news ._newsBN { float: right; width: 25%; padding-left: 20px; padding-right: 20px; border-left: 1px solid rgb(222, 222, 222); }
@media screen and (max-width: 736px) {
  ._content ._newsBN, ._news ._newsBN { width: 100%; padding: 0px 20px; margin-top: 15px; }
}
._content ._newsBN div[data-id], ._news ._newsBN div[data-id] { margin-bottom: 20px; }
@media screen and (max-width: 736px) {
  ._content .news.lenta .section article time, ._news .news.lenta .section article time { padding: 0px 20px 10px; text-align: right; }
}
._content .news.lenta button.liveLoadDemand, ._news .news.lenta button.liveLoadDemand { width: 100%; margin-top: 20px; }
._content .openComments, ._news .openComments { display: block; float: left; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 100%; padding: 10px 20%; }
._content .openComments a, ._news .openComments a { display: block; width: 100%; cursor: pointer; }
._content #comments, ._news #comments { display: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-top: 20px; }
@media screen and (max-width: 736px) {
  ._content #comments, ._news #comments { padding: 0px 20px 20px; }
}
._content #comments a, ._news #comments a { text-decoration: none; }
._content #comments textarea, ._news #comments textarea { border: 1px solid rgb(211, 211, 211); font-family: "Open Sans"; }
._content #comments textarea:focus, ._news #comments textarea:focus { border-color: rgb(235, 2, 84); }
._content #comments button, ._news #comments button { width: 100%; }
._content div.related, ._news div.related { float: left; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 0px; margin-top: 20px; }
@media screen and (max-width: 736px) {
  ._content div.related, ._news div.related { padding: 20px 0px; }
}
._content div.related .blockHeader h2, ._news div.related .blockHeader h2 { padding: 0px; }
._content div.related .blockHeader a, ._news div.related .blockHeader a { text-decoration: none; background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; }
._content div.related .news .section article, ._news div.related .news .section article { float: left; width: 33%; padding: 0px 10px; border: 0px none; }
._content div.related .news .section article h3, ._news div.related .news .section article h3 { font-size: 0.8em !important; padding: 10px 0px 0px !important; }
._content div.related .news .section article:first-child, ._news div.related .news .section article:first-child { padding: 0px 20px 0px 0px; }
._content div.related .news .section article:last-child, ._news div.related .news .section article:last-child { padding: 0px 0px 0px 20px; }
@media screen and (max-width: 736px) {
  ._content div.related .news .section article, ._news div.related .news .section article { padding: 0px !important; margin: 10px 0px !important; }
  ._content div.related .news .section article h3, ._news div.related .news .section article h3 { position: absolute; bottom: 0px; padding: 10px !important; margin: 0px; background-color: rgba(0, 0, 0, 0.5); }
  ._content div.related .news .section article h3 a, ._news div.related .news .section article h3 a { color: rgb(255, 255, 255); }
}
._content { position: relative; float: left; width: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding-top: 40px; padding-bottom: 40px; }
@media screen and (max-width: 736px) {
  ._content { padding-top: 20px; }
}
._content > * { padding: 0px 40px; }
._content > h1 { margin-bottom: 30px; }
._content div.search { position: relative; float: left; width: 100%; padding-bottom: 40px; }
._content > .news { padding: 0px; }
._content > .news > h1.listHeader { padding-left: 60px; padding-right: 60px; }
@media screen and (max-width: 736px) {
  ._content > .news > h1.listHeader { padding-left: 20px; padding-right: 20px; font-size: 1.6em; }
}
#afterNews { position: relative; float: left; width: 100%; min-height: 100px; }
.inject { border-color: rgb(0, 0, 238); background: rgb(228, 228, 228) none repeat scroll 0% 0%; }
#footer { background-color: rgb(0, 51, 102); color: rgb(112, 138, 165); padding-top: 60px; padding-bottom: 60px; font-size: 14px; }
#footer h1, #footer h2, #footer h3, #footer h4, #footer p { margin-bottom: 20px; line-height: 160%; }
#footer a { color: rgb(255, 255, 255); font-weight: 700; letter-spacing: 1.2px; }
#footer a.expander { display: none; }
@media screen and (max-width: 736px) {
  #footer img.logo { display: none; }
}
#footer ._footer_menu ul { float: left; list-style: outside none none; padding: 0px 40px; }
@media screen and (max-width: 736px) {
  #footer ._footer_menu ul { padding: 0px; }
}
#footer ._footer_menu ul li { display: block; float: left; width: 40%; border-bottom: 1px solid rgba(255, 255, 255, 0.2); margin: 5px 0px; padding: 0px 10px 10px 0px; }
@media screen and (max-width: 736px) {
  #footer ._footer_menu ul li { width: 45%; }
}
#footer ._footer_menu ul li a { text-decoration: none; text-transform: uppercase; font-weight: 400; transition: all 0.1s ease-in-out 0s; }
#footer ._footer_menu ul li:nth-child(2n) { float: right; }
#footer ._footer_menu ul:hover a { color: rgba(255, 255, 255, 0.5); }
#footer ._footer_menu ul:hover a:hover { color: rgb(255, 255, 255); }
#footer ._contact { color: rgb(255, 255, 255); }
#footer ._social .socseti { margin-bottom: 20px; }
#footer ._social .socseti a { display: inline-block; width: 36px; height: 36px; padding: 5px; margin-right: 8px; text-align: center; font-weight: 400; font-size: 18px; border: 1px solid rgb(112, 138, 165); border-radius: 50%; }
@media screen and (max-width: 736px) {
  #footer { padding: 40px 20px 0px; }
}
#subfooter { background: rgb(13, 61, 110) none repeat scroll 0% 0%; padding-top: 20px; padding-bottom: 15px; font-size: 14px; color: rgb(112, 138, 165); }
#subfooter a { color: rgb(112, 138, 165); text-decoration: none; }
#subfooter ._copy { float: left; margin-top: 5px; }
#subfooter ._counters { float: right; }
@media screen and (max-width: 736px) {
  #subfooter { padding: 20px; }
}
.scrollTop { background: rgb(0, 51, 102) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.eAuthContainer.flat > * { width: 60px; height: 60px; border-radius: 50px; border: 1px solid rgb(0, 0, 0); text-align: center; line-height: 170%; }
.eAuthContainer.flat .eAuth_vk { color: rgb(91, 116, 159); border-color: rgb(91, 116, 159); }
.eAuthContainer.flat .eAuth_vk:hover { color: rgb(255, 255, 255); background: rgb(91, 116, 159) none repeat scroll 0% 0%; }
.eAuthContainer.flat .eAuth_facebook { color: rgb(35, 96, 159); border-color: rgb(35, 96, 159); }
.eAuthContainer.flat .eAuth_facebook:hover { color: rgb(255, 255, 255); background: rgb(35, 96, 159) none repeat scroll 0% 0%; }
.eAuthContainer.flat .eAuth_twitter { color: rgb(0, 171, 241); border-color: rgb(0, 171, 241); }
.eAuthContainer.flat .eAuth_twitter:hover { color: rgb(255, 255, 255); background: rgb(0, 171, 241) none repeat scroll 0% 0%; }
.eAuthContainer.flat .eAuth_ok { color: rgb(245, 133, 50); border-color: rgb(245, 133, 50); }
.eAuthContainer.flat .eAuth_ok:hover { color: rgb(255, 255, 255); background: rgb(245, 133, 50) none repeat scroll 0% 0%; }
.eAuthContainer.flat .eAuth_yandex { color: rgb(255, 204, 0); border-color: rgb(255, 204, 0); }
.eAuthContainer.flat .eAuth_yandex:hover { color: rgb(255, 255, 255); background: rgb(255, 204, 0) none repeat scroll 0% 0%; }
.eAuthContainer.flat .eAuth_mail { color: rgb(22, 141, 226); border-color: rgb(22, 141, 226); }
.eAuthContainer.flat .eAuth_mail:hover { color: rgb(255, 255, 255); background: rgb(22, 141, 226) none repeat scroll 0% 0%; }
.eAuthContainer.flat .eAuth_google { color: rgb(198, 56, 38); border-color: rgb(198, 56, 38); }
.eAuthContainer.flat .eAuth_google:hover { color: rgb(255, 255, 255); background: rgb(198, 56, 38) none repeat scroll 0% 0%; }
body.t_optica #__main__ { margin-top: 0px; }
@media screen and (max-width: 768px) {
  body.t_optica #__main__ img { width: 100%; height: auto; }
}
.ya-site-form__form { padding: 0px 40px; }
.ya-site-form__form input[name="text"] { padding: 10px; }
.ya-site-form__form input[type="button"] { padding: 10px 40px; }
.adminWatch { float: right !important; margin: 14px 10px 0px 0px !important; }
