a, abbr, acronym, address, blockquote, body, caption, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, label, legend, li, object, ol, p, pre, q, span, table, tbody, td, tfoot, th, thead, tr, ul { margin: 0px; padding: 0px; border: 0px none; font-weight: inherit; font-style: inherit; font-size: 15px; font-family: inherit; vertical-align: baseline; }
body { line-height: 1.5; }
blockquote::after, blockquote::before, q::after, q::before { content: ""; }
a img { border: medium none; }
body { font-size: 75%; color: rgb(34, 34, 34); background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-family: "Helvetica Neue",Arial,Helvetica,sans-serif; }
p { margin: 0px 0px 1.5em; }
a:focus, a:hover { color: rgb(0, 0, 0); }
.first { margin-left: 0px; padding-left: 0px; }
.column, div.span-1, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-2, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9 { float: left; }
.clearfix::after, .container::after { content: " "; display: block; height: 0px; clear: both; visibility: hidden; overflow: hidden; }
.clearfix, .container { display: block; }
.clear { clear: both; }
header { position: relative; z-index: 3; }
.clear { clear: both; }
.ul-time li:nth-child(2) { padding: 0px 8px; border-left: 1px solid rgb(162, 184, 232); }
.ul-soc li:nth-child(1) { background: transparent url('undefined') no-repeat scroll center center; width: 6px; height: 13px; margin-top: 4px; }
.ul-soc li:nth-child(2) { background: transparent url('undefined') no-repeat scroll center center; width: 16px; height: 9px; margin-left: 28px; margin-top: 7px; }
.ul-soc li:nth-child(3) { background: transparent url('undefined') no-repeat scroll center center; width: 13px; height: 11px; margin-left: 27px; margin-top: 6px; }
.ul-soc li:nth-child(4) { background: transparent url('undefined') no-repeat scroll center center; width: 8px; height: 14px; margin-top: 5px; margin-left: 27px; }
.logo-header { float: left; margin-left: 34px; }
header .basic-line { height: auto; }
.basic-line { padding-top: 24px; padding-bottom: 19px; }
ul.ul-nav-bar li:nth-child(1) { margin-left: 0px; }
.left-part-footer { width: 300px; float: left; margin-left: 34px; }
.footer-txt { color: rgb(162, 184, 232); font-family: "PT Sans",sans-serif; font-weight: 400; font-size: 12px; text-align: left; line-height: 18px; }
.clear { clear: both; }
.ul-soc-footer li:nth-child(1) { background: transparent url('undefined') no-repeat scroll center center; width: 6px; height: 13px; margin-top: 4px; }
.ul-soc-footer li:nth-child(2) { background: transparent url('undefined') no-repeat scroll center center; width: 16px; height: 9px; margin-left: 28px; margin-top: 7px; }
.ul-soc-footer li:nth-child(3) { background: transparent url('undefined') no-repeat scroll center center; width: 13px; height: 11px; margin-left: 27px; margin-top: 6px; }
.ul-soc-footer li:nth-child(4) { background: transparent url('undefined') no-repeat scroll center center; width: 8px; height: 14px; margin-top: 5px; margin-left: 27px; }
footer { background: rgb(16, 49, 95) none repeat scroll 0% 0%; padding-top: 26px; padding-bottom: 12px; }
.center-wrapper { width: 1389px; margin: 0px auto; }
.other-news { padding: 18px 20px 20px; border-top: 1px solid rgb(239, 239, 239); margin-top: 0px; position: relative; }
.other-news:hover { background: rgb(216, 242, 241) none repeat scroll 0% 0%; cursor: pointer; }
.bl { display: block; }
.center-wrapper { box-sizing: border-box; }
@media screen and (max-width: 1400px) {
	.center-wrapper { width: 1200px; }
	.logo-header { margin-left: 0px; }
	ul.ul-nav-bar li, ul.ul-nav-bar li:nth-child(1) { margin: 0px 5px; }
}
@media screen and (max-width: 1199px) {
	.center-wrapper { width: 980px; }
}
@media screen and (max-width: 999px) {
	.center-wrapper { width: 100%; }
	.logo-header, .menu-bar, .search-bar { float: none; display: inline-block; vertical-align: middle; }
	header .basic-line { position: relative; }
	.logo-header { position: absolute; top: 14px; left: 0px; }
}
@media screen and (max-width: 890px) {
}
@media screen and (max-width: 767px) {
	.logo-header { margin-top: 0px; }
	header .basic-line, header .status-line { text-align: center; }
	.logo-header { position: static; margin-top: 25px; }
}
@media screen and (max-width: 639px) {
	.logo-header { margin-top: 5px; }
	.first { height: 75px; }
	.left-part-footer { width: 100%; margin-left: 0px; float: none; }
	.footer-txt { text-align: center; }
}
@media screen and (max-width: 479px) {
	.first { height: 100px; }
}
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background: transparent none repeat scroll 0px 0px; }
a:active, a:hover { outline: 0px none; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
body, figure, h1, h2, h3, h4, h5, h6, ol, p, ul { padding: 0px; margin: 0px; }
html { font-family: "PT Sans",sans-serif; font-size: 16px; line-height: 1.3; }
body { color: rgb(0, 0, 0); background-color: rgb(242, 242, 242); }
a { color: inherit; text-decoration: none; }
.clearfix::after { content: ""; clear: both; display: table; }
.center-wrapper { position: relative; width: 1200px; margin: 0px auto; }
header { position: relative; z-index: 3; background: transparent url('header-bg.jpg') repeat-x scroll 0px 0px; }
header .status-line .hot-news .title::before { content: "Новость часа: "; }
header .basic-line { height: 110px; }
header #search-form button::after { content: ""; position: absolute; right: -8px; top: 0px; width: 0px; height: 0px; border-width: 15px medium 15px 8px; border-style: solid none solid solid; border-color: transparent -moz-use-text-color transparent rgb(191, 209, 231); }
.top-line { position: relative; z-index: 2; padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid rgb(219, 222, 228); box-shadow: 0px 0px 12px rgb(212, 212, 212); }
.top-line .headline { margin-bottom: 10px; color: rgb(143, 143, 143); text-transform: uppercase; }
.top-line .news-block { font-size: 0px; }
.top-line .news-block .preview { display: inline-block; vertical-align: top; width: 32%; margin-right: 1%; height: 100px; background: rgb(241, 244, 249) none repeat scroll 0% 0%; }
.pagination a:hover:not(.active) { background-color: rgb(221, 221, 221); border-radius: 5px; }
.top-line .news-block .preview:hover { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.top-line .news-block .preview:last-child { margin-right: 0px; }
.top-line .news-block .preview .image { float: left; width: 100px; height: 100px; margin-right: 7px; }
.top-line .news-block .preview .image img { width: 100%; }
.top-line .news-block .preview .title { box-sizing: border-box; max-height: 76px; overflow: hidden; margin: 7px; color: rgb(26, 26, 26); font-size: 14px; font-weight: 700; text-transform: uppercase; }
.top-line .news-block .preview:hover .title { color: rgb(39, 101, 175); }
.high-priority-news { background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(219, 222, 228); }
.high-priority-news .column { float: left; box-sizing: border-box; }
.high-priority-news .column .headline { height: 53px; text-transform: uppercase; color: rgb(143, 143, 143); font-size: 18px; font-weight: 700; line-height: 53px; }
.high-priority-news .column.latest { width: 488px; padding-right: 20px; padding-bottom: 10px; }
.high-priority-news .column .big-preview { display: block; margin-bottom: 10px; }
.high-priority-news .column .big-preview .image { position: relative; padding-bottom: 15px; font-size: 0px; }
.high-priority-news .column .big-preview .image img { width: 100%; height: 263px; }
.high-priority-news .column .big-preview .title { padding-bottom: 15px; color: rgb(39, 101, 175); font-size: 27px; font-weight: 700; line-height: 28px; }
.high-priority-news .column .read-full::after { position: relative; top: 1px; left: 4px; content: "➤"; }
.high-priority-news .column .more-news .news-list li::before { content: "> "; }
.high-priority-news .column.important { width: 224px; }
.high-priority-news .column.important .headline { color: rgb(89, 95, 104); }
.high-priority-news .column.important .preview { display: block; background-color: rgb(242, 245, 249); padding: 15px; margin-bottom: 10px; }
.high-priority-news .column.important .preview:hover { background: rgb(255, 247, 229) none repeat scroll 0% 0%; }
.high-priority-news .column.important .preview .image { width: 100%; position: relative; padding-bottom: 7px; font-size: 0px; }
.high-priority-news .column.important .preview .image img { width: 100%; }
.high-priority-news .column .preview .title { max-height: 103px; }
.high-priority-news .column .preview:hover .title { color: rgb(39, 101, 175); }
.high-priority-news .column.popular { width: 488px; padding-left: 20px; }
.high-priority-news .column.popular .preview { min-height: 130px; display: block; padding-bottom: 0px; margin-bottom: 10px; font-size: 0px; background: rgb(255, 247, 229) none repeat scroll 0% 0%; }
.high-priority-news .column.popular .preview .image { float: left; width: 130px; margin-right: 10px; }
.high-priority-news .column.popular .preview .image img { width: 100%; }
.high-priority-news .column.popular .preview:hover { background-color: rgb(242, 245, 249); }
.high-priority-news .column.popular .preview .title { font-size: 16px; display: inline-block ! important; vertical-align: top ! important; max-height: 1000px ! important; width: 70% ! important; }
.high-priority-news .column.popular .preview:hover .title { color: rgb(39, 101, 175); }
.category-preview { border-bottom: 1px solid rgb(219, 222, 228); }
.category-preview.alternative { font-size: 0px; }
.category-preview.alternative .headline { height: 53px; color: rgb(83, 85, 88); font-size: 18px; line-height: 53px; font-weight: 700; text-transform: uppercase; }
.category-preview.alternative .start-block { box-sizing: border-box; display: inline-block; vertical-align: top; width: 468px; padding: 10px; margin-right: 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.category-preview.alternative .start-block .preview { display: block; height: 100px; overflow: hidden; margin-bottom: 10px; }
.category-preview.alternative .start-block .preview:hover { background-color: rgb(242, 245, 249); }
.category-preview.alternative .start-block .preview:last-child { margin-bottom: 0px; }
.category-preview.alternative .start-block .preview .image { float: left; width: 100px; margin-right: 10px; }
.category-preview.alternative .start-block .preview .image img { width: 100%; }
.category-preview.alternative .start-block .preview .title { font-size: 16px; }
.category-preview.alternative .start-block .preview:hover .title { color: rgb(39, 101, 175); }
.category-preview.alternative .other-news { margin-bottom: 15px; margin-right: 20px; }
.category-preview.alternative .other-news.preview { display: inline-block; vertical-align: top; width: 224px; height: 340px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; }
.category-preview.alternative .other-news.preview:hover { background: rgb(242, 245, 249) none repeat scroll 0% 0%; }
.category-preview.alternative .other-news:nth-child(5n+4) { margin-right: 0px; }
.category-preview.alternative .other-news.preview .image { width: 100%; }
.category-preview.alternative .other-news.preview .image img { width: 100%; }
.category-preview.alternative .other-news.preview .title { max-height: 116px; overflow: hidden; padding: 6px 10px; font-size: 16px; line-height: 21px; }
.category-preview.alternative .other-news.preview:hover .title { color: rgb(39, 101, 175); }
.inner-category .high-priority-news .headline::after { content: " / ТОП"; }
.category-inside .left .headline-panel .sort-by::before { content: "Сортировать по: "; height: 53px; line-height: 53px; }
.category-inside .left .top-sector .preview:nth-child(3n) { margin-right: 0px; }
.category-inside .right .bottom-sector .preview:nth-child(2n) { margin-right: 0px; }
footer { background: rgb(16, 49, 95) none repeat scroll 0% 0%; }
.clear { clear: both; }
.text { padding-bottom: 40px; padding-top: 15px; }
.ul-time li:nth-child(2) { padding: 0px 8px; border-left: 1px solid rgb(162, 184, 232); }
.ul-soc li:nth-child(1) { background: transparent url('undefined') no-repeat scroll center center; width: 6px; height: 13px; margin-top: 4px; }
.ul-soc li:nth-child(2) { background: transparent url('undefined') no-repeat scroll center center; width: 16px; height: 9px; margin-left: 28px; margin-top: 7px; }
.ul-soc li:nth-child(3) { background: transparent url('undefined') no-repeat scroll center center; width: 13px; height: 11px; margin-left: 27px; margin-top: 6px; }
.ul-soc li:nth-child(4) { background: transparent url('undefined') no-repeat scroll center center; width: 8px; height: 14px; margin-top: 5px; margin-left: 27px; }
.logo-header { float: left; }
header .basic-line { height: auto; }
.basic-line { padding-top: 24px; padding-bottom: 19px; }
.left-part-footer { width: 300px; float: left; }
.footer-txt { color: rgb(162, 184, 232); font-family: "PT Sans",sans-serif; font-weight: 400; font-size: 12px; text-align: left; line-height: 18px; }
.ul-soc-footer li:nth-child(1) { background: transparent url('undefined') no-repeat scroll center center; width: 6px; height: 13px; margin-top: 4px; }
.ul-soc-footer li:nth-child(2) { background: transparent url('undefined') no-repeat scroll center center; width: 16px; height: 9px; margin-left: 28px; margin-top: 7px; }
.ul-soc-footer li:nth-child(3) { background: transparent url('undefined') no-repeat scroll center center; width: 13px; height: 11px; margin-left: 27px; margin-top: 6px; }
.ul-soc-footer li:nth-child(4) { background: transparent url('undefined') no-repeat scroll center center; width: 8px; height: 14px; margin-top: 5px; margin-left: 27px; }
footer { background: rgb(16, 49, 95) none repeat scroll 0% 0%; padding-top: 26px; padding-bottom: 12px; }
.link-new-page-button { font-family: "PT Sans",sans-serif; font-weight: 700; font-size: 15px; color: rgb(255, 255, 255); text-align: center; text-transform: uppercase; background: rgb(244, 67, 54) none repeat scroll 0% 0%; border-radius: 3px; padding: 13px 0px; display: block; }
.bl { display: block; }
.clearfix::after, .clearfix::before { display: table; content: ""; }
.clearfix::after { clear: both; }
.first { background: rgb(21, 55, 103) none repeat scroll 0% 0%; }
header { background: transparent none repeat scroll 0px 0px; }
.menu__btn::after, .menu__btn::before { content: ""; position: absolute; left: 0px; width: 100%; height: 3px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.menu__btn::before { top: 7px; }
.menu__btn::after { top: 14px; }
.other__news { float: right; width: 60%; }
.category-preview.alternative .other-news { margin-right: 0px; }
.category-preview.alternative .other-news.preview:nth-child(2) { margin: 0px 2%; }
@media screen and (max-width: 1199px) {
	.other__news { width: 63%; }
	.high-priority-news .column.popular .preview .title { width: 60% ! important; }
	.category-preview.alternative .other-news.preview { margin-left: 0px; margin-right: 0px; width: 32%; }
	.center-wrapper { width: 980px; }
	ul.ul-nav-bar li:nth-child(1) { margin-left: 0px; }
	.high-priority-news .column.latest { width: 450px; }
	.high-priority-news .column.popular { width: 305px; }
	.category-preview.alternative .start-block { width: 350px; }
	.category-preview.alternative .other-news { margin-right: 10px; }
	.left-part-footer { width: 215px; margin-left: 12px; }
	.footer-txt { width: 300px; }
}
@media screen and (max-width: 999px) {
	.high-priority-news .column.popular .preview .title { width: 50% ! important; }
	.center-wrapper { width: auto; padding: 0px 15px; }
	.high-priority-news .column.important { padding: 0px 10px; width: 25%; }
	.high-priority-news .column.latest { width: 43%; padding-right: 2%; }
	.high-priority-news .column.popular { width: 32%; padding-left: 2%; }
	.category-preview.alternative .other-news { width: 40%; }
	.category-preview.alternative .other-news:nth-child(5n+4) { margin-right: 0px; }
	.other__news { width: 58%; }
	.high-priority-news .column.popular .preview .title { font-size: 14px; }
	.high-priority-news .column.important { padding: 0px 5px; }
	.high-priority-news .column .big-preview .image img { height: auto; }
	.high-priority-news .column.important .preview { font-size: 14px; }
	.high-priority-news .column .big-preview .title { font-size: 1.5em; }
	.category-preview.alternative .other-news { margin-right: 1%; }
	header .basic-line { padding: 10px 0px; }
	.footer-txt { text-align: center; width: auto; margin-top: 10px; padding-top: 5px; border-top: 1px solid rgb(204, 204, 204); }
	.left-part-footer { margin-left: 0px; }
	.category-preview.alternative .other-news.preview .title { max-height: 150px; }
}
@media screen and (max-width: 767px) {
	.other__news { width: 100%; margin-bottom: 10px; }
	.clearfix2::after, .clearfix2::before { display: table; content: ""; }
	.clearfix2::after { clear: both; }
	header .basic-line { position: relative; }
	.logo-header { float: none; margin: 33px auto 0px; }
	.high-priority-news .column .headline { font-size: 16px; }
	.high-priority-news .column.popular .preview .image {  }
	.top-line .news-block .preview .title { max-height: 92px; margin: 7px 0px; }
	.category-preview.alternative .start-block .preview { width: 31%; float: left; }
	.category-preview.alternative .start-block .preview:nth-child(2) { margin: 0px 2%; }
	.category-preview.alternative .start-block .preview .image { float: none; width: 100%; }
	.category-preview.alternative .start-block .preview { height: 330px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
	.category-preview.alternative .start-block { background: rgb(242, 242, 242) none repeat scroll 0% 0%; }
	.category-preview.alternative .other-news { width: 100%; padding: 0px; }
	.category-preview.alternative .start-block .preview .title { padding: 10px; }
	.category-preview.alternative .other-news.preview { width: 31%; float: left; }
	.alternative .other__news a:nth-child(2) { margin: 0px 2%; }
	.category-preview.alternative .other-news { margin: 0px; }
	.category-preview.alternative { padding-bottom: 15px; }
}
@media screen and (max-width: 640px) {
	.news-container { text-align: left; }
}
@media screen and (max-width: 639px) {
	.news-container { text-align: left; }
	.high-priority-news .column.popular .preview .title { width: 100% ! important; text-align: left ! important; }
	.top-line .news-block .preview .image { width: 100%; }
	.category-preview.alternative .start-block .preview { height: 315px; }
	.logo-header { margin-top: 0px; }
	.top-line .headline { text-align: center; }
	.top-line .news-block .preview { display: block; width: auto; }
	.top-line .news-block .preview .image, .top-line .news-block .preview .image img, .top-line .news-block .preview .title { display: inline-block; vertical-align: top; max-height: 100%; float: none; }
	.top-line .news-block .preview { margin-right: 0px; height: auto; }
	.top-line .news-block .preview .image { height: auto; }
	.top-line .news-block .preview .title { width: 100%; }
	.high-priority-news .column.latest { width: 100%; padding-right: 0px; }
	.high-priority-news .column.important, .high-priority-news .column.popular { width: 50%; }
	.category-preview.alternative .other-news { width: 100%; padding: 0px; }
	.category-preview.alternative .other-news.preview { width: 32%; height: 280px; }
	.left-part-footer { margin-left: auto; margin-right: auto; float: none; width: 178px; }
	.very-important span:nth-child(3) { display: block; }
	.high-priority-news .column.popular .preview .title { max-width: 100%; width: 60%; }
	.high-priority-news .column.popular .preview .image { width: 100%; margin-bottom: 10px; }
	.high-priority-news .column.important, .high-priority-news .column.popular { width: 100%; background-color: rgb(242, 245, 249); }
	.high-priority-news .column.popular .preview .title { max-height: 1000px; }
	.high-priority-news .column.popular .preview { height: auto; }
	.high-priority-news .column.important .headline { text-align: center; }
	.category-preview.alternative .headline, .high-priority-news .column .headline { text-align: center; }
	.high-priority-news .column.popular { padding: 0px 1%; }
	.category-preview.alternative .start-block .preview { width: 100%; height: auto; }
	.category-preview.alternative .start-block .preview:nth-child(2) { margin-left: 0px; margin-right: 0px; margin-bottom: 10px; }
	.other__news { margin-top: 30px; }
	.category-preview.alternative .other-news.preview, .category-preview.alternative .other-news.preview:nth-child(2) { width: 100%; height: auto; margin: 0px 0px 10px; }
}
@media screen and (max-width: 479px) {
	.logo-header {  }
	.logo-header a { margin-left: auto; margin-right: auto; display: block; }
	.high-priority-news .column.important, .high-priority-news .column.popular { width: auto; }
	.category-preview.alternative .other-news.preview { width: 100%; }
	.category-preview.alternative .other-news.preview { height: auto; }
	.high-priority-news .column.popular .preview { min-height: 75px; }
}
@media screen and (max-width: 639px) {
}
@media screen and (max-width: 639px) {
	.preview { vertical-align: top; width: 100% ! important; min-height: 85px ! important; display: block ! important; height: 100% ! important; margin: 5px 0px ! important; }
	.preview .image { max-width: 150px; float: left ! important; display: inline-block; margin-right: 10px; width: 100%; position: relative; }
	.preview .title { font-size: 16px ! important; }
	.top-line .preview { min-height: 95px ! important; }
	.top-line .news-block .preview { height: 110px; }
	.top-line .news-block .preview .image { min-width: 100px; }
	.top-line .news-block .preview { height: 110px; }
	.top-line .news-block .preview .image { min-width: 100px; width: 150px; }
	.top-line .news-block .preview .title { margin: 0px; width: 60%; }
	.high-priority-news .column.important .preview { padding-bottom: 0px ! important; }
	.high-priority-news .column.important .preview, .high-priority-news .column.popular .preview { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
	.high-priority-news .column.important .preview .image { width: 150px; display: inline-block; vertical-align: top; }
	.high-priority-news .column .preview .title { display: inline-block; vertical-align: top; max-width: 100%; width: 60%; font-weight: 700; }
	.high-priority-news .column.popular .preview .image { width: 150px; }
	.high-priority-news .column.popular .preview .title { width: 60% ! important; }
	.high-priority-news .column.popular .preview { min-height: 150px; }
	.category-preview.alternative .start-block .preview .image { width: 150px; display: inline-block; vertical-align: top; margin-right: 0px; }
	.category-preview.alternative .start-block .preview .title { display: inline-block; vertical-align: top; width: 55%; }
	.category-preview.alternative .other-news.preview .image { margin-right: 0px; }
	.high-priority-news .column.popular .preview .image { margin-bottom: 0px; }
	.top-line .news-block .preview .image { height: auto; }
	.preview { overflow: hidden; }
	.title { max-width: 100% ! important; }
	.other__news { float: none; }
	.high-priority-news .column.important .preview .image { padding-bottom: 0px ! important; }
	.high-priority-news .column.popular .preview .image { margin-bottom: 0px ! important; }
}
@media screen and (max-width: 479px) {
	.category-preview.alternative .other-news.preview .image { margin-top: 0px; }
	.category-preview.alternative .start-block .preview .title { font-size: 15px ! important; line-height: 22px; }
	.other__news .title { line-height: 18px ! important; }
	.high-priority-news .column .preview .title { font-weight: 400; }
	.high-priority-news .column.popular .preview { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
	.top-line .news-block .preview .title { width: 50%; }
	.preview { height: 120px ! important; }
	.picture__small { display: block ! important; width: 100%; max-width: 120px ! important; }
	.preview .image { max-width: 120px ! important; }
	.high-priority-news .column.important .preview { width: 50%; }
	.category-preview.alternative .start-block .preview .image { width: 100px; }
	.high-priority-news .column.popular .preview { min-height: 105px; }
	.high-priority-news .column.popular .preview .image { width: 90px; }
	.high-priority-news .column.popular .preview { min-height: 95px; }
	.top-line .preview { min-height: 85px ! important; }
	.preview { height: 100px ! important; }
	.high-priority-news .column.popular .preview .title { max-width: 100%; }
	.category-preview.alternative .other-news.preview .image { max-width: 100px ! important; }
	.high-priority-news .column.important .preview { height: auto ! important; padding: 0px; }
	.high-priority-news .column.important .image {  }
	.high-priority-news .column.important .preview .image { width: 36%; }
	.high-priority-news .column.important .preview .title {  }
	.high-priority-news .column.important .title { padding-top: 10px; }
}
@media screen and (max-width: 400px) {
	.top-line .news-block .preview { height: 100px; }
	.top-line .news-block .preview .image { min-width: 80px; }
}
.category-preview.alternative .other-news, .category-preview.alternative .other-news.preview:nth-child(2), .category-preview.alternative .other-news:nth-child(5n+4) { margin: 0px 0.3% 10px ! important; }
.high-priority-news .column.popular .preview .title { margin-left: 0px; max-height: 11000px; }
@media screen and (max-width: 1200px) {
	.high-priority-news .column.popular { display: block; width: 100%; text-align: left; }
	.high-priority-news .column.important { width: 30%; }
	.high-priority-news .column.latest { width: 70%; }
	.high-priority-news .column.popular .preview { width: 50%; float: left; box-sizing: border-box; display: inline-block; vertical-align: top; }
	.high-priority-news .column.popular .preview:nth-child(2n) { width: 47.5%; margin-right: 2.5%; }
	.high-priority-news .column.popular .preview .title { text-align: left; }
	.category-preview.alternative .start-block { width: 100%; }
	.category-preview.alternative .other-news.preview { min-height: 390px; height: auto; }
	.category-preview.alternative .start-block .preview { width: 31%; display: inline-block; vertical-align: top; height: auto; }
	.news-container { text-align: center; }
	.category-preview.alternative .start-block .preview:nth-child(2) { margin: 0px 2%; }
	.category-preview.alternative .start-block .preview .image { float: none; width: 100%; height: auto; }
	.high-priority-news .column.popular .preview .image {  }
}
@media screen and (max-width: 900px) {
	.category-preview.alternative .other-news.preview { min-height: 365px; }
}
@media screen and (max-width: 800px) {
	.category-preview.alternative .other-news.preview { min-height: 340px; }
}
@media screen and (max-width: 767px) {
	.category-preview.alternative .other-news.preview { min-height: 345px; text-align: left; }
}
@media screen and (max-width: 767px) {
	.category-preview.alternative .start-block { width: 100%; }
	.category-preview.alternative .start-block .preview { height: auto; min-height: 350px; }
	.category-preview.alternative .other-news.preview.dna, .category-preview.alternative .start-block .preview:nth-child(2) { margin: 0px 1% 10px ! important; }
	.category-preview.alternative .other-news, .category-preview.alternative .other-news.preview:nth-child(2), .category-preview.alternative .other-news:nth-child(5n+4) { margin: 0px 0.5% 10px ! important; }
	.category-preview.alternative .other-news.preview { float: none; }
}
@media screen and (max-width: 640px) {
	.high-priority-news .column.important { width: 100%; }
	.high-priority-news .column.latest { width: 100%; }
	.high-priority-news .column.popular .preview .image { width: 100%; }
	.high-priority-news .column.popular .preview { width: 100%; }
	.category-preview.alternative .other-news.preview.top1, .category-preview.alternative .start-block .preview { width: 100%; }
	.high-priority-news .column.popular .preview .title { margin-left: 0px; text-align: center; }
	.category-preview.alternative .other-news.preview.dna, .category-preview.alternative .start-block .preview:nth-child(2) { margin: 0px 2% 10px ! important; }
}
/* ::::: https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic ::::: */

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: local("PT Sans"), local("PTSans-Regular"), url('jizarexuito99u79d0aexq.woff2') format("woff2");
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: local("PT Sans Bold"), local("PTSans-Bold"), url('jizfrexuito99u79b_mh0oqtlq.woff2') format("woff2");
}
.high-priority-news .column.important .preview { padding-bottom: 20px; }
.top-line .news-block .preview .title { font-size: 12px; }
.category-preview.alternative .other-news.preview.dna, .category-preview.alternative .start-block .preview:nth-child(2) { margin-top: 0px; margin-bottom: 28px; }
.category-preview.alternative .start-block .preview { margin-bottom: 29px; }
.high-priority-news .column .big-preview .image img { width: 100%; }
.category-preview.alternative .other-news.preview { width: 192px; }
@media screen and (max-width: 1200px) {
	.other__news { width: 100%; }
	.category-preview.alternative .other-news.preview { cursor: pointer; display: inline-block; width: 31.6%; padding: 0px; margin: 0px; }
}
@media screen and (max-width: 999px) {
	.other__news { width: 100%; }
}
@media screen and (max-width: 767px) {
	.category-preview.alternative .other-news.preview { width: 31%; }
	.logo-header { float: none; margin: 0px auto; }
	.category-preview.alternative .start-block .preview .title { min-height: 160px; }
}
@media screen and (max-width: 640px) {
	.high-priority-news .column.popular .preview .title { display: block ! important; margin-left: 160px ! important; font-size: 17px ! important; text-align: left ! important; font-weight: 400; }
	.category-preview.alternative .other-news.preview.dna, .category-preview.alternative .start-block .preview:nth-child(2) { margin: 5px 0px 0px ! important; padding-top: 10px ! important; text-align: center ! important; }
	.first { height: 100% ! important; }
	.category-preview.alternative .start-block .preview .title { vertical-align: top; text-align: left; margin-left: 151px; display: block; }
	.high-priority-news .column.popular .preview .image { width: 25%; }
	.category-preview.alternative .start-block .preview { height: auto; min-height: initial; }
	.high-priority-news .column.popular .preview .image img { width: 150px; }
	.category-preview.alternative .start-block .preview .image img { float: left; width: 150px; padding-right: 10px; }
	.category-preview.alternative .start-block .preview .title { min-height: auto; }
}
@media screen and (max-width: 639px) {
	.category-preview.alternative .start-block .preview .title { margin-left: 161px; }
}
@media screen and (max-width: 479px) {
	.category-preview.alternative .start-block .preview .title { margin-left: 123px; }
	.high-priority-news .column.popular .preview .title { margin-left: 132px ! important; }
}
